[2014-09-03 21:12] luke- opened #1 "Allow invite participants to event"

[2014-10-06 06:04] luke- opened #3 "Add "location" attribute"

[2014-10-06 18:31] krhebbar opened #4 "Allow to repeat the event on daily weekly monthly basis"

[2014-11-04 02:46] danaskallman opened #6 "CalDav Integration"
Allow for a way to integrate both personal and space calendar with CalDav to connect calendars to apps like OwnCloud.

[2014-11-05 11:44] raxan opened #7 "can't comment"
hi

is not possible add comment, because when hit enter, it's go to new line and not add comment...

calendar/entry/view&id=1&fullCalendar=1

[2014-11-30 21:47] luke- opened #8 "Missing translation"
In New event the Is public text

[2015-01-11 15:01] Marecages commented on #8
Hello. I'm not ok with Github (the branches and all the stuff let me somewhat confused), so I purpose a modification about the 4th line of this script : https://github.com/humhub/humhub-modules-calendar/blob/master/views/entry/view.php
"Event" is not translated.
Thank you in advance ! :)

[2015-01-29 07:09] nunthu commented on #7
Still not fixed? no button to submit a comment

[2015-02-15 16:45] andystrobel commented on #7
Do you tried Shift+Enter for a new line?

[2015-02-17 19:51] mrluisiko99 opened #11 "Not the same font in "Like" or "comment""

[2015-02-19 20:41] daglex opened #12 "Missing translation!"
No translation of this phrase in the module Calendar http://awesomescreenshot.com/0f14g4jw46

[2015-03-12 10:22] CKGrafico commented on #6
+1 We need this to our organization

[2015-03-20 17:10] diesan100 commented on #7
Yes, I am having same issue

[2015-03-20 17:13] diesan100 commented on #7
But it does not happend in all screens, it is working in the activity timeline, but it isn´t in the event detail

[2015-03-20 17:49] diesan100 commented on #7
Ok, so, there is a javascript code in the file:
protected\modules_core\comment\widgets\views\form.php
It wasn´t working in that view, so I wrapped that script with  $( document ).ready(function() { ... });
And now it is working fine!

[2015-03-20 18:00] diesan100 opened #13 "is_public does not work"
There is a property called like the title of this issue which does not save and... I don´t know what is it for... :)

[2015-03-20 19:29] andystrobel commented on #7
Sorry, I forgot to close this issue. Please keep in mind, that this bug was already fixed at: https://github.com/humhub/humhub/commit/15b96d46007c294c99c90e62530eb2e0e80f8f57

[2015-03-20 23:06] diesan100 commented on #7
ok! :)

[2015-03-21 10:41] #7 closed

[2015-04-11 17:27] SirbitoX opened #14 "Jalali Calender"
Hello,
I want to change this calender to support Jalali Calender (aka Shamsi Calender, Persian Calender). Can you help me with this? any suggestion or any guideline.

[2015-04-21 06:51] ychoucha opened #15 "Error when i add something on the calendar"
Hello when i m trying to add something on calendar i have the error :

![01_humhub_mmodule_calendar_error](https://cloud.githubusercontent.com/assets/301074/7246898/5ea3c868-e803-11e4-96e3-25074c9b6283.jpg)

[code]

how fix taht please

[2015-05-22 14:06] hubrajesh commented on #13
This property is used to check if user allowed to create/edit public event/content in a space or not.
If user is not allowed to created public content in a space and tries to do so then it will fail.
A quick fix for this -
edit file :  /protected/modules/calendar/models/CalendarEntry.php

[code]
and add  a function for this rule to work in same class

[code]

There is other way too but will requir

[2015-06-06 12:21] CKGrafico opened #16 "How to make recuring event"
don't know how to make a recuring event each to weeks :S

[2015-06-16 18:52] caspre24 opened #17 "Allow group members/admins to edit events"
It would be nice to allow other group members or the group admins to edit events that another user has created.

[2015-07-24 15:43] chezmix commented on #15
Same thing happened to me once but I couldn't replicate it again afterwards.

[2015-08-17 14:30] alec-hs opened #18 "Incorrect Phrasing of Strings"
Currently in `calendar\messages\en_uk` and `calendar\messages\en_uk` the files `views_activities_EntryResponse.php` read as follows:

`'%displayName% attends to %contentTitle%.' => '',
  '%displayName% maybe attends to %contentTitle%.' => '',
  '%displayName% not attends to %contentTitle%.' => '',`

The correct English would be

`'%displayName% is attending %contentTitle%.' => '',
  '%displayName%

[2015-09-20 19:05] petersmithca opened #20 "Feature Request: Color Coded Event Types"
Would love to be able to assign colors to things like vacation time, statutory holidays. etc.

Thank you for all the work, am loving this product!

[2015-10-01 10:46] jacobmjelde opened #21 "Bug: Default date / time (0.20 beta2)"
When adding an event to the calendar of a Space then the default date is set correctly (when pressing a day in the calendar, the date i "transferred" to the pop-up), though there is no way to set start/end time.

When adding an event to a calendar assigned to a user, there is now the option to add start/end time, but the default date is the 1st of the current month instead of the date actually pre

[2015-10-01 21:39] daglex opened #22 "Calendar_sidebar"
Look how the disorder you have going on in the sidebar if it is not a Latin layout
![calendar_sidebar](https://cloud.githubusercontent.com/assets/7894606/10234540/f61b7c70-689d-11e5-9d0c-22a4558e412c.png)

[2015-11-11 13:20] koteek85 opened #24 "The format of Events dates is invalid"
The same problem with dates format as here https://github.com/humhub/humhub/issues/1214, but with calendar for Russian language.
![hamhub-calendar](https://cloud.githubusercontent.com/assets/9195737/11311223/7fe3aed8-8fdf-11e5-9fab-fbfacf0f385b.jpg)

[2015-11-11 13:25] koteek85 commented on #21
You have to uncheck "All Day" checkbox and the time field will appear.

[2015-11-11 23:06] guiqis opened #25 "Add calendar event / never stops loading"
When I've tried to add an event for the first time it worked, but when i try to add another event, it never stops loading! Can someone tell me why??

[2015-11-19 16:44] guiqis commented on #25
My version of Calendar is:  0.3.4
When I try to add an event, it just keeps loading, like in the image below (it has already 10 minutes that i'm seeing this screen)
![de8f1ad2-c27d-429b-b617-cae0da315022](https://cloud.githubusercontent.com/assets/15745360/11277083/09fe261c-8ecc-11e5-8f70-4013dcedeffa.jpg)

[2015-11-21 13:39] Freekkel commented on #6
We can also need this.

[2015-11-23 10:46] sschmitt- commented on #6
+1 Would be a nice feature!

[2015-11-25 07:28] dibalaj opened #26 "Can't save calendar entry - Czech datetime format"
Hi,

we can't save calendar entry, because of error in file /protected/modules/calendar/models/CalendarEntry.php on line 141. It tries to create DateTime object from string for example "15. 12. 2015". You probably must parse this string in "d. m. Y" format.

Thanks for reply.

[2015-11-25 09:30] luke- commented on #26
HI,

can you please test it on our Hosting with same locale/language?

www.humhub.org/en/hosting

[2015-11-26 06:56] dibalaj commented on #26
I did. Same result.

Here is exception from log:

exception 'Exception' with message 'DateTime::__construct(): Failed to parse time string (27. 11. 2015) at position 0 (2): Unexpected character' in /srv/www/htdocs/wedostest/modules/calendar/models/CalendarEntry.php:141 Stack trace: #0 /srv/www/htdocs/wedostest/modules/calendar/models/CalendarEntry.php(141): DateTime->__construct('27. 11. 2015') #1

[2015-11-26 12:54] dibalaj commented on #25
I think, that this is same problem as issue #26 (https://github.com/humhub/humhub-modules-calendar/issues/26).

[2015-12-04 15:53] CCRS-WEB commented on #26
i made a quick fix with normalize date, remove special chars and accents. Depends on your language settings

[2015-12-07 12:18] Boberro commented on #20
I'd like to back that one up. My teams are asking for these feature as well.

[2015-12-19 21:33] koteek85 commented on #24
exception 'Exception' with message 'DateTime::__construct(): Failed to parse time string (29 дек. 2015 г.) at position 0 (2): Unexpected character' in /home/humhub/www/protected/modules/calendar/models/CalendarEntry.php:141 Stack trace: #0 /home/humhub/www/protected/modules/calendar/models/CalendarEntry.php(141): DateTime->__construct('29 ??????. 2015...') #1 [internal function]: humhub\modules\ca

[2015-12-19 21:33] koteek85 commented on #24
$_GET = [ 'r' => 'calendar/entry/edit' 'sguid' => '9c9df1a6-78ea-4770-91bb-fe40fad2be4a' ] $_POST = [ '_csrf' => 'OTMub0NXMjQJeF8OOT4EQHNKHicMLXtbUAZvPzYRXARYRnwCLT0Acw==' 'CalendarEntry' => [ 'title' => '' 'description' => '' 'is_public' => '0' 'all_day' => '1' 'start_datetime' => '29 дек. 2015 г.' 'start_time' => '00:00' 'end_datetime' => '30 дек. 2015 г.' 'end_time' => '23:59' 'participation_mo

[2015-12-21 04:08] #26 closed

[2015-12-21 04:09] #24 closed

[2015-12-21 04:09] #21 closed

[2015-12-28 11:27] dmitrydrynov commented on #16
I not found the option "Recurring Events" also.
only fields in DB, but no functions.

[2016-01-06 20:56] fbarthelemy opened #27 "Events doesn't appear in profile's calendar"
Events only appear on owner's calendar.

[2016-01-13 16:08] clairedc opened #28 "bug - wrong dates and hours are saved"
When I save an event, it's not the right day and hours which are saved. The same error occurs when i try to modify an event. The event indicates always one or two day later and sometimes 2 hours later.

[2016-01-19 09:09] fenix440 commented on #25
I had exactly the same issue but only on selected computers. Fix #26, did solve this problem but only on a few computers. After debugging I found out that timezone is not set on selected computers.

[2016-02-04 21:32] sam11fr opened #29 "Problems with accents (é ê è à etc.)"
Hello.
There is a problem in creating an appointment if the current month contains an accent. For example, in French, February is written Février.

Thank you in advance for your investigations and debug

Best regards.
Sam

Humhub currently installed version: 0.20.1
Calendar version : 0.3.1

LOG:
[LOG.txt](https://github.com/humhub/humhub-modules-calendar/files/118258/LOG.txt)

[2016-02-16 19:48] esildut commented on #28
Hello,
Don't know if it helps, but I had the same problem and I finally enter the date manually (not using the calendar pop-up).
While doing this, I first enter the date in the french format (I'm French), like dd/mm/yyyy. The saved date was in the US format (mm/dd/yyyy). So, I enter the date in the US format, and it worked well, no more error.
So, I was wondering if the issue was not about the dat

[2016-02-20 13:43] kaolpr opened #30 "Date verification and locale"
When language different than EN is selected, when adding an event calendar forms date in selected language (e.g. in PL it is: 25 Lu 2016). However, verification is not allowing such format and event can not be added. Changing manually to dd-mm-YYYY makes event acceptable.

[2016-02-20 14:08] kaolpr commented on #30
Guess a quickfix could be changing a date format passed to the DatePicker in lines 59 and 70 of views/entry/edit.php to some universally defined one (not defined by localization).

[2016-02-29 22:46] 402vette commented on #20
I would like to request this as well.

[2016-02-29 22:47] 402vette commented on #6
+1, need this as well.

[2016-03-07 15:47] herzogmedia commented on #20
Yes! That one would be great. I'd like to back it, too!

[2016-03-15 07:15] PenguinNexus opened #32 "Blank Screen on Event Save"
Whenever I try to save a new event, I just get presented with a blank screen.

If I go back to my calendar page the event is there however, saved successfully.

Information:
HumHub version: 1.0.0-beta.4
Calendar Module Version: 0.3.3 (Beta Version)

[2016-03-18 11:33] hfortune opened #33 "Feature Request - 12 hour vs. 24 hour time"
I've noticed that event times can only be entered in 24 hour time. Is it possible to have a setting to allow for 12 hour time when adding an event as well?

Thanks for a great module!

[2016-03-18 13:57] buddha87 commented on #32
Hi, sorry cannot recreate the issue. The page should not even reload after submitting a new event. Can you check if there is any kind of error or something in the developer console of your browser ?

[2016-03-18 14:05] Penguinexpert1 commented on #32
URL: /index.php?r=calendar%2Fentry%2Fedit&start_datetime=2016-03-20%2000%3A00%3A00&end_datetime=2016-03-21%2000%3A00%3A00&fullCalendar=1&createFromGlobalCalendar=1&uguid=1d170150-95e3-465b-8c75-4306d66d1ab8

Developer Console:
Uncaught ReferenceError: $ is not defined (index.php:1)
Uncaught ReferenceError: $ is not defined (index.php:2)

[2016-03-18 20:56] joeworkman opened #34 "Upcoming Events until time End"
I would love to see the Event remain inside the Upcoming Events widget until the event end time. Right now, The event is removed when the event start time has been reached.

I hold a lot of virtual meetings and I would love for it to stay there so that people can still join in while the event is in progress.

[2016-03-22 12:55] Penguinexpert1 commented on #32
Sorted! My index.php file was on debug mode! Disable the debug lines on production

[2016-03-22 13:03] Penguinexpert1 commented on #32
Not fixed, just refreshed and it happened again... Help please!

[2016-03-22 13:31] buddha87 commented on #32
Hi, can you copy the line of code where the error is happening. You should be able to click in the error to get to the javascript line. It seems that somehow jquery is used before its included in the page.

[2016-03-22 13:37] Penguinexpert1 commented on #32
<script>if(typeof $("#calendar").fullCalendar != "undefined") { $("#calendar").fullCalendar("refetchEvents"); } else { location.reload(); }</script><script>
    $('#globalModal').modal('hide');
</script>

[2016-03-22 13:38] Penguinexpert1 commented on #32
`<script>if(typeof $("#calendar").fullCalendar != "undefined") { $("#calendar").fullCalendar("refetchEvents"); } else { location.reload(); }</script><script>
    $('#globalModal').modal('hide');
</script>`

[2016-03-22 14:30] buddha87 commented on #32
Ok, this should already be fixed in the current master and upcoming 1.0 release. The globalModal elements somehow loses its handler in the old version and reloads loads the page with the result instead of display the result in a modal window. Strange that it did not happen when i tested it with the beta4. The new version will be released this week.

[2016-03-24 10:35] acidjames commented on #6
+1 this would be a great feature

[2016-03-28 01:29] centogram commented on #4
+1 for this feature

[2016-04-12 06:31] der-phillip opened #35 "User rights / Benutzerrechte"
## Obwohl das erstellen von Terminen für Mitgliedern nicht erlaubt ist, kann man Termine erstellen.

Although this is create appointments for members not allowed, you can create appointments.

[2016-06-03 16:50] evandrosk opened #36 "Google Sync"
How can I integrate with Google Calendar?
Integrated accounts are per user / personal?

[2016-06-08 06:15] nguyen-matthias opened #37 "Calendar don't stop loading...."
If i want to open a calendar in a space it's don't stop to loading ....

I got this Error:

yii\base\UnknownMethodException: Calling unknown method: humhub\modules\space\models\Space::canWrite() in E:\xampp\htdocs\protected\vendor\yiisoft\yii2\base\Component.php:285
Stack trace:
#0 E:\xampp\htdocs\protected\modules\calendar\views\view\index.php(5): yii\base\Component->__call('canWrite', Array)
#1

[2016-06-08 06:17] luke- commented on #37
Did you updated the calendar module to the latest version?

[2016-06-08 06:18] nguyen-matthias commented on #37
I yes i did it. The Version is 0.4.0

[2016-06-08 09:12] luke- commented on #37
The stacktrace indicates an older version. Are you sure that 0.4.0 is installed?

Can you please paste the contents of file:
E:\xampp\htdocs\protected\modules\calendar\views\view\index.php

[2016-06-08 09:12] luke- commented on #37
Can you try to remove the contents of the 'assets' folder

[2016-06-08 09:42] nguyen-matthias commented on #37
hmm... I think it's version 0.4.0 you can see it in the picture...

E:\xampp\htdocs\protected\modules\calendar\views\view\index.php
<div class="panel panel-default">
    <div class="panel-body">
        <?php
        echo \humhub\modules\calendar\widgets\FullCalendar::widget(array(
            'canWrite' => $canAddEntries,
            'loadUrl' => $contentContainer->createUrl('/calendar/view/load-

[2016-06-08 09:46] nguyen-matthias commented on #37
hmmm here is the code as a picture
![code](https://cloud.githubusercontent.com/assets/16917852/15890167/987eabbe-2d6e-11e6-8f41-6f41a6f59d7a.png)

[2016-06-08 09:47] nguyen-matthias commented on #37
wich content did i have to remove ? Do you speak German ?

[2016-06-13 11:57] mac321321 commented on #37
Hi,
i had the same problem.

Removing the content of the 'assets' folder solved the problem.
I just deleted everything in it :-)

[2016-06-14 13:09] coolinger commented on #6
+1, need this to actually use this webapp

[2016-06-24 19:44] MatthiasHertel commented on #37
i had the same issue but delete all files of the assets folder does not work ...

[code]

furthermore i have version:

![image](https://cloud.githubusercontent.com/assets/8426566/16348656/4c7d18f2-3a54-11e6-9c8f-513a73f26603.png)

![image](https://cloud.githubusercontent.com/assets/8426566/16348680/65693dbe-3a54-11e6-956c-799c167f0774.png)

[code]

i believe the version 0.34 of the calendar modul

[2016-06-24 20:54] MatthiasHertel commented on #37
oppps my mistake ...

u have to delete the this assets folder:

[code]

**not this one:**

[code]

[2016-06-26 18:26] easy23 commented on #37
Hi,
I have the same problem.
I deleted the folder ~humhub/assets/. No luck, the calender don’t stop loading....
Have you got a new tip or workaround for the problem....?!
Thanks for your help.

[2016-06-27 06:22] MatthiasHertel commented on #37
do u have reinstall the whole module ?
maybe that is the fix ...

[2016-06-27 15:51] easy23 commented on #37
Hi Matthias,
Dein Name klingt deutsch, ich versuche einmal in deutsch weiterzumachen. Falls Englisch besser wäre, bitte nochmals melden.
Ja ich habe auch das Modul calendar 0.40 deinstalliert und wieder installiert. Ich habe dabei über die ssh-Konsole das Verzeichnis protected/modules beobachtet. Das sieht soweit gut aus. Es wird beim Deinstallieren tatsächlich das Verzeichnis in dem die Kalenderv

[2016-06-27 16:09] nguyen-matthias commented on #37
@easy23 ja ich bin sogar zufällig deutschsprachig ;) ich hab vergessen mich wieder zu melden. Es läuft wieder inzwischen. Bei mir hat es geholfen den ganzen <humhubPath>/assets ordner zu löschen.

[2016-06-27 16:19] easy23 commented on #37
@nguyen-matthias das hatte ich schon, schade klappt nicht. Müsste ich vielleicht vorher das Modul calendars deinstallieren? Ich versuche es einmal.... Danke.

[2016-06-27 16:23] nguyen-matthias commented on #37
was ich auch noch gemacht habe ist das komplette modul aus dem Ordner zu löschen. Folgender Ordner habe ich gelöscht:
-*/humhub/assets
-Modul deinstalliert und dann wenn der ordner vorhanden ist auch gelöscht */humhub/protected/Modules/calendar
erneut das Modul gedownloaded und es hat wieder geladen :D

[2016-06-27 16:35] easy23 commented on #37
Danke für den Tipp. Leider funzt es bei mir nicht... :-(

[2016-06-27 17:25] MatthiasHertel commented on #37
hallo,

der ~/humhub/assets/ order ist schreibgeschützt .... also mit force flag loeschen ...

[code]

ansonsten reinstall ... das hat bei mir geholfen ...
wenn sonst nix hilft den stacktrace anschauen ... also was sagt denn der log ?

[2016-06-27 17:55] easy23 commented on #37
Hallo Matthias, danke für die erweiterte Hilfe. Ich hatte das Verzeichnis mit dem mc auf der Konsole gelöscht und mit ls -la kontrolliert. Das Verzeichnis war und ist wirklich leer. Trotzdem habe ich den Befehlssatz von Dir angewendet, - kein Erfolg. Das Logging, dass ich über die Adminkonsole und Information sehen kann, ist ebenfalls ohne Eintrag. Gibt es ein weiteres Logging? Wie macht man nun z

[2016-06-27 18:00] MatthiasHertel commented on #37
Hi Martin,

komplett leer das logging - kann es evtl an schreibrechten liegen - das er die logs nicht schreiben darf ?

naja ich denke - es läuft ja bei uns nur bei dir nicht ... jetzt müssten wir rausfinden was du anders gemacht hast ...

zum thema trace logging

http://stackoverflow.com/questions/24649308/how-to-check-trace-or-log-file-in-yii

[2016-06-27 18:02] MatthiasHertel commented on #37
evtl die reihenfolge - ich habe es so gemacht:

1. calendar deinstalliert
2. calendar installiert
3. erst danach (während das calendar modul installiert war) erst dann hab ich den assets folder geloescht

[2016-06-27 18:28] easy23 commented on #37
Hallo Matthias. Irgend etwas bei meiner Installation liegt quer und es gibt den Gegenbeweis mit schon laufenden Systemen. Ich gehe mit den Tipps, die ich nun habe nochmals auf die Suche. Ich bedanke mich schon jetzt für das vorbildliche Engagement und melde mich einfach nochmals wenn ich etwas herausgefunden habe. Bitte wegen meines exotischen Falles den Issue nicht offen lassen. Vielen Dank und v

[2016-06-28 06:01] nguyen-matthias commented on #37
@easy23 ok machen wir es so ich schließe das Issue und sobald du dich wieder meldest kann man es ja glaub ich wieder öffnen :)

[2016-06-28 06:01] #37 closed

[2016-07-14 12:11] buddh4 opened #38 "Deleting a user does only partially remove their attendance state on calendar events"
From https://github.com/humhub/humhub/issues/1793
### Steps to reproduce:
1. Create a calendar event
2. Let a user choose any state (attend, maybe, do not attend) on this event.
3. Delete this user's account
4. In the numbers counting the three attendance states, the deleted user is still counted, i.e. the user count is wrong by one. If he was the only user in the respective state, clicking on the

[2016-07-15 11:32] udochrist commented on #37
Der fehler tritt bei mir unter 1.1.0-beta1. ich erhalte aber im Apache log auch 404'er meldungen wenn der Calender versucht zu laden.... Deinstall/install habe ich bereits versucht...

`10.10.1.99 - - [15/Jul/2016:13:26:54 +0200] "GET /assets/c2114c8f/fullcalendar/fullcalendar.css?v=1.1.0-beta.1 HTTP/1.1" 404 711 "https://mysite.internal.lan/index.php?r=calendar%2Fglobal%2Findex" "Mozilla/5.0 (Win

[2016-07-15 14:52] udochrist commented on #37
@nguyen-matthias
ok "gelöst/verstanden":  bei mir liegt der fehler an folgendem:
das modul ist installiert, die gui sucht die Dateien unter /assets/c2114c8f (siehe oben). die Dateien die gesucht werden sind dort aber nicht vorhanden.
wenn ich die Dateien für assets recursiv aus /protected/modules/calendar/assets nach /assets/c2114c8f umkopiere funktioniert das alles tadellos. Ich vermute da entwed

[2016-07-18 19:49] nguyen-matthias commented on #37
@udochrist oh ich sehe deinen Beitrag erst jetzt, sorry :/ Aber gut das es gelöst wurde ;D

[2016-08-08 13:13] msahasrabuddhe opened #39 "Unable to add or view events in Calendar"
The event pop-up never opens. The log shows following error:

mod_fcgid: stderr: PHP Fatal error:  Access to undeclared static property: Yii::$classMap in /home/kovida1i/public_html/workbench/protected/vendor/yiisoft/yii2/BaseYii.php on line 274, referer: http://kovidbioanalytics.com/workbench/index.php?r=calendar%2Fglobal%2Findex

[2016-08-12 11:01] djcf commented on #39
I am also experiencing this problem after an update from 0.9

[2016-08-12 12:47] buddha87 commented on #39
hmm found this Yii issue https://github.com/yiisoft/yii2/issues/8511

[2016-08-24 18:03] ZenosBR opened #41 "I can't add a new event - Calendar Loading"
When I try to add a new event, by clicking the button "save", the module is charging and not finish.

I installed the 0.4.0 version.
I've tried to delete the contents of the folders "humhub / assets" and "/ humhub / protected / modules / calendar / assets /".
I changed the date format CalendarEntry.php file, Y-m-d for d-m-Y.
I uninstalled and reinstalled several times and nothing solved my problem

[2016-08-24 18:21] ZenosBR commented on #41
Logging:
$_GET = [ 'r' => 'calendar/entry/edit' 'sguid' => 'a4019944-920a-4fe9-b357-e98d2b0539af' ] $_SERVER = [ 'HTTP_HOST' => '10.53.10.24' 'HTTP_CONNECTION' => 'keep-alive' 'CONTENT_LENGTH' => '469' 'HTTP_ACCEPT' => '*/*' 'HTTP_ORIGIN' => 'http://10.53.10.24' 'HTTP_X_CSRF_TOKEN' => 'SkhkU0Rydi0rfhQ.ASUZeRArCWobNDljOyRJIygoOh0vKzsbLyQ5Gw==' 'HTTP_USER_AGENT' => 'Mozilla/5.0 (Windows NT 6.1; WOW6

[2016-08-24 18:22] ZenosBR commented on #41
ERROR Logging:
exception 'Exception' with message 'DateTimeZone::__construct(): Unknown or bad timezone ()' in /var/www/html/humhub/protected/humhub/libs/DbDateValidator.php:137 Stack trace: #0 /var/www/html/humhub/protected/humhub/libs/DbDateValidator.php(137): DateTimeZone->__construct('') #1 /var/www/html/humhub/protected/humhub/libs/DbDateValidator.php(118): humhub\libs\DbDateValidator->fixTim

[2016-08-26 21:27] 001101 opened #42 "Use space color as default entry color"
Hello,

having now about 28 different default spaces and it would be awesome if the calendar could take the different colors from each space where the appointment was created in, so that you can have a nicer viewing experience and can differ the appointments directly.

greets

[2016-08-26 21:37] 001101 opened #43 "Feature Request: Time"
Hello,

missing the time entry on creating events, would be much nicer.

greets

[2016-09-04 15:44] 001101 opened #44 "[Feature Request] Disable auto participate for Event Creator"
Hello,

it is  very annoying and confusing that an Event Creator automatically participate at the event, you never know, maybe he has just hear or read about it and just want to share it?

Just makes no sense why this thing is automatic.

greets

[2016-09-08 13:53] Flowwz opened #45 "0.4.0 New event DateTimeZone"
Hi,

My calendar module is on 0.4.0 and when I create a new event I got this error message (like others people as I saw ?) :

Exception &#039;Exception&#039; with message &#039;DateTimeZone::__construct(): Unknown or bad timezone ()&#039;

in [...]\WebSite\protected\humhub\libs\DbDateValidator.php:137

Is there a way to fix this error ?

[2016-09-09 09:30] buddha87 commented on #45
Hi, could you check the logs for a full error stack: "Administration -> Information -> Logging"

[2016-09-09 15:59] buddha87 commented on #45
I think this can only happen if the user has no timezone setting. I don't know how this happened in your case. But as long as I (or you) can't reproduce the issue it's very hard to find the problem. Does not seem like a calendar module issue.

[2016-09-12 11:56] Flowwz commented on #45
Hi,

I was thinking about the same problem when it show up, but the default time
zone was set in the Administration menu.
I'm going to try to get the same error on my localserver, I can't update to
1.1.0 on my current server because I need to work before my deadline.

2016-09-09 17:59 GMT+02:00 buddha87 <notifications@github.com>:

[2016-10-03 15:24] skleveno opened #46 "dumb question"
fairly new to git and humhub. Ive cloned the calendar to modules with the name better calendar.  What else do I need to do to get it to showup/install it.  thank you

[2016-10-11 07:33] StellarisStudio opened #47 "Oversize popup!"
Hi!!
The popup to create an event is not fully visible, so I can't create any... On my laptop (1368x768) is show almost fully only on "fullscreen" (button at the bottom just visible)!
But it work nicely in many other size I try with the google dev tool !! But same issue on most of all small screen I tried, such as smartphone...

I think the more easy will be to make the popup scroll with the body?

[2016-10-27 10:45] etb09 commented on #6
+1

[2016-12-03 09:44] boily-qubeos commented on #20
My team wants it too, is there a chance we can havie it?

[2016-12-09 01:38] 001101 opened #48 "OSM integration"
Would be awesome if there is a way to make a OSM (maybe other) address integration and build up a map to show where the events happening.

greets

[2017-01-18 15:34] madmas opened #49 "Feature Request: Link from Description"
I'd love to use the humhum link or at least links in general in the description of a calendar event.
Is there any formatting syntax enabled for the description?

[2017-01-24 20:37] gino909 commented on #6
I would need this funtionality too, to integrate the just existing user calendar into humhub

[2017-02-01 15:15] Schroeffu commented on #48
+1

[2017-02-17 02:27] kmmenna commented on #6
+1

[2017-03-16 11:32] githubjeka opened #50 "BUG: Cannot delete event from Profile page"
- Create new event in calendar
- Click delete in profile page

![image](https://cloud.githubusercontent.com/assets/874234/23994263/3351adbc-0a55-11e7-8a3a-9c002f54515d.png)

    at _executeAction (/humhub/static/js/humhub/humhub.action.js?v=1488875548:405:36)
    at ActionBinding.handle (/humhub/static/js/humhub/humhub.action.js?v=1488875548:384:17)
    at HTMLAnchorElement. (/humhub/static/js/hum

[2017-03-19 00:51] acs-ferreira opened #51 "Check-boxes are not flatten"
Just check this screenshot, check-boxes aren't flatten.

![image](https://cloud.githubusercontent.com/assets/12234510/24077204/5ffa4b7e-0c46-11e7-91d0-e1e9f00ff56a.png)

[2017-03-19 01:05] acs-ferreira commented on #50
Reproduced here

[code]

[2017-03-27 13:41] buddh4 opened #52 "ics/csv import"

[2017-03-28 14:36] martinbeek commented on #50
Here too...!

[2017-03-28 14:51] martinbeek opened #53 "Calendar css local and not responsive, md10/md2 too wide/shallow"
UPDATE: see #55

First, the calendar uses a local css that is not compatible (enough) with the humhub theme (see pictures; e.g. fontsize) further more, it does not work on mobile.

Second, imho the right md-2 columns is too shallow. Changing it to md-8 / md-4 in the debugger makes it a lot more attractive. See pics.

I'd like to see that the css is not local (custom changes will be overwritten in

[2017-03-28 15:02] martinbeek commented on #53
Changing the HTML in such a way that the middle column becomes a TD on it's own TR, at the top, solves all problems on mobile.

Original code:
[code]
Picture (original code):
![schermafbeelding 2017-03-28 om 16 42 45](https://cloud.githubusercontent.com/assets/6781157/24412242/3a737076-13d8-11e7-8ab4-e9f6b1e9de15.PNG)

My alternative:
[code]

Picture (alternative code):
![schermafbeelding 2017-03-

[2017-04-01 21:22] kaoz3000 commented on #20
This would be great!

[2017-04-08 10:21] martinbeek opened #55 "This looks so much better on mobile (suggestion)"
Moving the month header to a separate `<tr>` in ./assets/fullcalendar/fullcalendar.js

and css:

[code]
makes the full calendar much more responsive (and fitting) on mobile devices - specially iphone 5, 5se and 6.

Without an adaption as this one, calendar is not usuable on iphone. Don't know about android though.

[code]

[2017-04-08 10:22] martinbeek commented on #53
see #55

[2017-04-08 10:22] #53 closed

[2017-04-08 10:23] martinbeek commented on #55
And don't forget to minify the fullcalendar.js to fullcalendar.min.js ;-)

[2017-04-08 19:27] martinbeek opened #56 "Translation of "Is Public" missing from CalendarEntry.php and base language files"
I have added:
in ./protected/modules/calendar//models/CalendarEntry.php
after row 122:
`'is_public' => Yii::t('CalendarModule.base', 'Is Public'),`

in (Dutch) language file ./protected/modules/calendar/messages/nl/base.php
at the bottom of the array:
`'Is Public' => 'Is publiek'`

Martin.

[2017-04-15 15:00] blue-boost-org opened #57 "Event timezone switching"
Event times don't change for users based on their profile timezone. Instead, they just show the time that they were created for by the user who created them.

Event created by UTC-5 user for 14:00 will show as 14:00 for a UTC-6 user, it should show as 13:00.

[2017-04-19 17:06] Twilek-de commented on #52
Ical subscriptions!

[2017-05-10 22:00] martinbeek opened #58 "Exception error when deleting calendar event from Calendar module screen"
[code]

This happens when trying to delete the stream entry, in the modules's view - see picture.

![schermafbeelding 2017-05-10 om 23 59 27](https://cloud.githubusercontent.com/assets/6781157/25923246/dc408b02-35dc-11e7-8ac7-c1a24eeff7de.PNG)

[2017-05-10 22:02] martinbeek opened #59 "Blank screen after deleting calendar event"
When i choose Edit Event -> Delete, the event is deleted but the user is forwarded to a blank humhub screen.

[2017-05-11 14:55] 001101 opened #60 "Menupoint disappears, SQL error and backup restore failed"
Hello,

having a strange issue with the module, the menu entry just disappears from time to time, it is since updating to v1.2-beta4 and now also on v1.2 stable, both with calendar 0.42.

But I have hacked around the calendar menu entry, that is it linked to a specific space, but i can't find the hack at the moment (other things todo...), but the hack was just a routing or redirect thing, so it wa

[2017-05-14 10:15] mcglynnmark opened #61 "Creation of Event leads to unending loop"
Creation of event in calendar does not complete (loop).

[2017-05-17 15:36] pinecreativelabs commented on #61
I can confirm this. Getting the same thing.

[2017-05-19 09:21] #8 closed

[2017-05-19 09:21] #51 closed

[2017-05-19 09:22] #12 closed

[2017-05-19 09:23] #13 closed

[2017-05-19 09:24] #15 closed

[2017-05-21 21:30] acs-ferreira commented on #51
This has been closed, but **not fixed**?

[2017-05-22 16:22] buddh4 commented on #51
It's fixed on master, but this is not released yet, will be released within the next days.

[2017-05-29 22:53] Felli opened #62 "Can't Unarchive post - calendar entry"
https://github.com/humhub/humhub/issues/2596

[2017-06-07 19:23] Twilek-de opened #63 "Central calendar with entries viewable by every user"
With the new version a central calendar is possible. But when you enter something into the calendar the other users can only see it if they change their filter preferences. I would like a way for admins to enter entries which everyone can see by default.

[2017-06-07 19:23] Twilek-de opened #64 "Central calendar viewable by guests"
It would be nice when there would be a possibility to make a calender accessible to guests.

[2017-06-14 16:19] 001101 commented on #60
still not even a small answer

[2017-06-14 18:38] martinbeek opened #65 "All months and days in English"
Module is perfectly translated in Dutch, but dates and days are all in English.
![schermafbeelding 2017-06-14 om 20 03 38](https://user-images.githubusercontent.com/6781157/27148384-63c3db96-5140-11e7-8a45-56b48d8e49c7.png)

[2017-06-15 08:51] buddh4 opened #66 "Only show "Attending" badge if participants are allowed in snippet"

[2017-06-15 13:52] dschoty commented on #65
Same Problem in German. Hour is shown in 12 hour conversion and not in 24 hour.

[2017-06-17 10:40] acs-ferreira commented on #65
Please test https://github.com/acs-ferreira/humhub-modules-calendar/commit/28d1f6e14af47b12d76648f67c6b4fbc66ae44a9

[2017-06-17 13:58] #65 closed

[2017-06-17 14:17] martinbeek opened #68 "Can not create new event on mobile (click Calendar day)"
On mobile (and also on Chrome debugger with responsive setting), you can't create a new event by clicking on a date in the main calendar. Nothing happens.

No errors shown.

Martin.

[2017-06-19 12:56] acs-ferreira commented on #68
Click on a date for 3 seconds, release then.
But agree, it should be fixed.

[2017-06-20 11:20] buddh4 opened #69 "Include all participating profile events to dashboard snippet and global calendar."

[2017-06-21 09:14] buddh4 opened #70 "Drag/Drop event in global calendar not working."

[2017-06-23 10:25] martinbeek opened #71 "Filter "FILTER_MINE" not working / missing query"
In file ./models/CalendarEntryQuery.php:

row 627:
`            $this->_query->andWhere(['content.created_by' => $this->_user->contentcontainer_id]);
`

Should read:

`            $this->_query->andWhere(['content.created_by' => $this->_user->contentcontainer_id,'content.created_by' => $this->_user->id]);
`

to filter all my events.

Martin.

[2017-06-27 19:41] buddh4 opened #72 "Use 24 hour timing in weekly view (depending on language)"

[2017-06-27 19:47] buddh4 commented on #72
https://fullcalendar.io/docs/text/timeFormat/

[2017-06-28 04:25] hagalaz opened #73 "increasing start/end date and time"
server humhub timezone and client humhub timezone are identical

![2017-06-28 7 15 44](https://user-images.githubusercontent.com/5484465/27620520-e8972da4-5bd2-11e7-9eb3-947faefc8da7.png)

form post:
![2017-06-28 7 16 00](https://user-images.githubusercontent.com/5484465/27620522-ea59a32e-5bd2-11e7-8de9-985079b7d813.png)

result list:
![2017-06-28 7 16 23](https://user-images.githubusercontent.com

[2017-06-28 15:46] buddh4 commented on #73
Thanks for reporting, we'll have to respect the [fullcalendar timezone](https://fullcalendar.io/docs/timezone/timezone/) setting. If you have the time you could do some tests with this setting. I won't be able to have a look before next week.

[2017-07-02 12:30] martinbeek opened #74 "Despite update, dates and times still not local, commit not accepted?"
A Dutch calendar...

![schermafbeelding 2017-07-02 om 14 29 28](https://user-images.githubusercontent.com/6781157/27770121-483ec8de-5f39-11e7-9a4d-ee7f60040151.png)

This was solved before in https://github.com/acs-ferreira/humhub-modules-calendar/commit/28d1f6e14af47b12d76648f67c6b4fbc66ae44a9

[2017-07-03 17:58] acs-ferreira commented on #74
HumHub team is not very reactive to PRs, so wait a few more weeks ;)

[2017-07-03 18:09] benedetto opened #75 "Enhancement: Make first day of week configurable"
The month and week calendar view shows weeks with Sunday as first day of the week. However, in many places people are used to have the week starting with Monday. This can lead to confusion or even errors when looking at the calendar and not explicitly paying attention about the weekdays.

Having the possibility to configure which is the first day of the week would be great to prevent that confusio

[2017-07-03 18:27] rcheetah commented on #75
I guess this is related to #65. Localisation is disabled since on of the last updates. But the pull request was not accepted yet.

[2017-07-03 18:29] awgneo opened #76 "Feature Request: Event image"
Our group relies heavily upon prominent event images to attract users of our network to the event itself. Standard HumHub posts already support image upload. Unfortunately, I cannot seem to use this feature with events.

Excellent work on this plugin so far :)

[2017-07-03 18:30] awgneo opened #77 "Feature Request: Support markdown in event description"
It would be great if markdown was supported in the event description as all other posts and comments now support it. Thanks :)

[2017-07-03 18:31] rcheetah commented on #77
I would appreciate that :)

[2017-07-03 19:04] buddh4 opened #78 "Add date in e-mail notification title."
https://github.com/humhub/humhub/issues/2651

[2017-07-09 15:54] volkomorov opened #79 "Can`t install Calendar 0.4.5"
Hello,

I can`t install Calendar 0.4.5. Humhub 1.2.1.
Requirements checklist is OK:

PHP - Version - 5.6.30-12~ubuntu14.04.1+deb.sury.org+1
PHP - GD Extension
PHP - INTL Extension
PHP - INTL Extension - ICU Version (52.1)
PHP - INTL Extension - ICU Data Version (52.1)
PHP - EXIF Extension
PHP - FileInfo Extension
PHP - Multibyte String Functions
PHP - cURL Extension
PHP - ZIP Extension
LDAP Suppor

[2017-07-23 16:45] #79 closed

[2017-07-25 14:41] tfont opened #81 "Exception 'yii\base\UnknownMethodException' with message 'Calling unknown method"
I've receiving

`Exception 'yii\base\UnknownMethodException' with message 'Calling unknown method: humhub\modules\file\models\File::getPath()'`

 when running migrations `php yii migrate/up --includeModuleMigrations=1` from a freshly download version of 1.2.1?

What's going on?

[2017-08-07 20:21] eLaborons commented on #50
I reproduce this bug only on Mozilla Firefox (54.0.1), and it is systematic.

[2017-08-09 09:12] Twilek-de commented on #64
This now works...

[2017-08-09 09:12] #64 closed

[2017-08-09 09:13] Twilek-de commented on #63
This now is implemented

[2017-08-09 09:13] #63 closed

[2017-08-09 09:15] Twilek-de opened #83 "Public snipped in sidebar"
Calendar now works beautifully in a public space with a global calendar and events viewable for guests. Is it possible to make the "Oncoming events" snipped in the sidebar on the dashboard viewable by guests as well?!

[2017-08-12 12:04] acs-ferreira opened #84 "Files not working"
In the latest module version, we can upload files.
But, when the entry is saved, no files are visible at the stream or at the calendar entry.

Also, if i edit that entry, the Files tab is empty.

[2017-08-13 06:52] Felli opened #85 "Public Events with snippet"
The following error happens when you create a public event with the final option of snippet checked.

[code]

[2017-08-13 06:53] Felli commented on #85
Once you logout the error will show.

[2017-08-17 23:43] 001101 commented on #64
how?

[2017-08-18 06:18] Twilek-de commented on #64
I have a public space and by that a public dashboard. Guests can see a global calendar. Then I activated the calendar module for the public space. All events I add there show up on the calendar viewable by guests and accessible via an icon in the top navigation.

[2017-08-22 13:30] arnfinnkristensen commented on #84
I have the same problem. The files I uploaded to the calendar entry they are not visible.

[2017-08-28 12:46] arnfinnkristensen commented on #84
I have done some testing. If you create`s the event first and save it and open the evnet and uploads a file it will save the file. It is only when you upload a file when you create an event it is not working.

[2017-08-29 08:35] arnfinnkristensen opened #86 "Not possible to set a start and end time, only all day event in calendar"
When I create an event in the calendar I can only store the event as all day event. If I try to insert a start and end time I get a message "Format for start time is illegal" and "Format for end time is illegal". See picture below:
![image](https://user-images.githubusercontent.com/30318362/29812049-b10b3728-8ca5-11e7-9476-11013076b4b4.png)

I hope you can fix this very soon.

[2017-08-29 12:38] arnfinnkristensen commented on #86
Her are some more information. This error occur when default language is set to "Nnorsk Bokmål". If English UK are chosen everything works fine.
![image](https://user-images.githubusercontent.com/30318362/29821235-7e4c749c-8cc7-11e7-9a0f-2e9a9c419b7c.png)

[2017-08-29 15:19] buddh4 commented on #86
Should be fixed by https://github.com/humhub/humhub-modules-calendar/commit/ac850f3a7e5f2fb8f9d541ee602976e085ddad26 thanks for reporting.

[2017-08-29 15:19] #86 closed

[2017-08-31 13:19] arnfinnkristensen commented on #86
Dear all,
Now I have the opposite problem. When I create an all day event I get an error message about the start and end time.

[2017-08-31 22:14] buddh4 commented on #86
Should by fixed by: https://github.com/humhub/humhub-modules-calendar/commit/37c328c55584df976b6b8e054c30be28c0fcec83 a new version is availalbe in the marketplace. I also added a locale mapping for your language so it should now show 24 hour time instead of 12.

[2017-09-06 10:21] 001101 opened #87 "Public entries not show in widget & 500 on set default"
Hello,

it was working some versions ago, now updating and it fails to show a public entry in the widget, only the user who created it can view it.

Also getting a 500 on trying to activate it as default on profiles, log:

set-as-default?moduleId=calendar Failed to load resource: the server responded with a status of 500 ()

``
Wed, 06 Sep 2017 09:12:00 +0200  yii\db\IntegrityException

PDOExcepti

[2017-09-06 12:53] 001101 opened #88 "Disabling widget causing complete crash"
Just disabled to show the widget and got a complete site shutdown

``Error: Call to a member function isModuleEnabled() on null in /home/admin/web/userx.net/public_html/protected/modules/calendar/models/SnippetModuleSettings.php:68
Stack trace:
- #0 /home/admin/web/userx.net/public_html/protected/modules/calendar/Events.php(20): humhub\modules\calendar\models\SnippetModuleSettings->showGlobalCalen

[2017-09-12 21:54] 001101 commented on #88
I managed to used the backuped module version, but I had really really strange issues on the way. On some versions the whole site only worked when the admin user was logged in, otherwise the site crashed complete. Now I have it worked again, but the calendar entry in topmenu is duplicated, hope I can managed to revert it, but it seems that some obsolete database entries still exists and causing th

[2017-09-29 00:01] matthewpepperl opened #90 "'Setting unknown property: humhub\modules\calendar\models\CalendarEntry::allow_maybe'"
please help i don't know what to do. intergrity check even says this. nothing works i dont know if it a bug or my fault but i need help i'm desperate

here is full text

https://pastebin.com/JeiVHp56

[2017-10-19 12:42] arnfinnkristensen opened #91 "When max number of participants are reached it is not possible to choose not participate."
When the max number of participations are reache the participantes cannot tell the system that they won't participate. It should be possible to do this.

Look at picture below:
![image](https://user-images.githubusercontent.com/30318362/31771274-c537ee5e-b4db-11e7-8964-dcfd72ffe068.png)

[2017-10-20 09:45] SvSven commented on #84
Creating a new event with attachments will save the file to the uploads folder and create a database entry in the `files` table, but the `object_model` and `object_id` fields are left blank. This does not happen when adding attachments to existing events

[2017-10-20 09:47] buddh4 commented on #91
Hi, seems like a broken translation, I'll have a look.

[2017-10-20 09:55] buddh4 commented on #91
You mean If you already are a participant, you are not able to cancel if the participation maximum is reached?

But non participants should not be able to do anything if the maximum is reached?

[2017-10-20 10:01] arnfinnkristensen commented on #91
I disagree,

If I participate on one event and I get sick, I should be able to say that I will not participate at the event.

Do you understand me?

Med Vennlig Hilsen
Arnfinn H. Kristensen
Tlf: +47 971 77 918

Fra: buddh4 [mailto:notifications@github.com]
Sendt: fredag 20. oktober 2017 11:56
Til: humhub/humhub-modules-calendar <humhub-modules-calendar@noreply.github.com>
Kopi: arnfinnkristensen <

[2017-10-20 10:06] buddh4 commented on #91
Yeah, thats what I was asking. But if you do not participate there should not be any option.

[2017-10-20 10:07] arnfinnkristensen commented on #91
Yes,

I agree 😊

Best regards
Arnfinn H. Kristensen
Tlf: +47 971 77 918

Fra: buddh4 [mailto:notifications@github.com]
Sendt: fredag 20. oktober 2017 12:06
Til: humhub/humhub-modules-calendar <humhub-modules-calendar@noreply.github.com>
Kopi: arnfinnkristensen <arnfinnkristensen@hotmail.com>; Author <author@noreply.github.com>
Emne: Re: [humhub/humhub-modules-calendar] When max number of participa

[2017-10-20 10:16] buddh4 commented on #91
kk, makes sense, I'll have a look.

[2017-10-20 15:25] #84 closed

[2017-10-20 15:35] #91 closed

[2017-10-20 18:35] arnfinnkristensen commented on #91
I have tested and it looks greate. I got a strange error when I tried to participet on an event to a space where I was invited to but had not accepted. When I accepted the invitation everything was ok. This was a private space. I think this error is a very special case and you should not bother to investigat this unless other report the same.

[2017-10-21 13:24] arnfinnkristensen commented on #91
Yes, it is very easy.

Here is the error message:
{
    "url": "/humhub_org/index.php?r=calendar%2Fentry%2Frespond&type=3&id=7&sguid=92c5b82f-0987-429d-b695-3734345dca8a",
    "status": 404,
    "response": {
        "error": true,
        "message": ""
    },
    "textStatus": "error",
    "dataType": "json",
    "xhr": {
        "readyState": 4,
        "responseText": "{\"error\":true,\"message

[2017-10-23 12:04] arnfinnkristensen commented on #91
@buddh4 Have you looked on my steps for reproduce the very spescial error?

[2017-10-23 13:08] buddh4 commented on #91
Not yet, will do so if I find the time, would be nice if you can open another issue for this.

[2017-10-23 13:10] arnfinnkristensen commented on #91
Yes I will open a new issue on this.

Arnfinn

Fra: buddh4 [mailto:notifications@github.com]
Sendt: mandag 23. oktober 2017 15:08
Til: humhub/humhub-modules-calendar <humhub-modules-calendar@noreply.github.com>
Kopi: arnfinnkristensen <arnfinnkristensen@hotmail.com>; Author <author@noreply.github.com>
Emne: Re: [humhub/humhub-modules-calendar] When max number of participants are reached it is not

[2017-10-24 08:41] Felli opened #92 "Error: Module is not enabled on this content container"
The following error happens once I enable the latest version of the Calendar module.

[code]

[2017-10-24 20:22] buddh4 commented on #92
When you access the global calendar?

[2017-10-24 21:30] Felli commented on #92
This has only happened once, which was right after enabling the module and accessing either the profile or global.

[2017-10-27 18:36] buddh4 commented on #90
Which calendar module version?
I assume there are missing migrations, did you isntall the module by git or by marketplace?

Also go to `Administration -> Information -> Database ` and check if there were missing migrations.

[2017-10-27 18:37] #73 closed

[2017-10-27 18:38] #11 closed

[2017-10-27 18:38] #17 closed

[2017-10-27 18:39] #22 closed

[2017-10-27 18:39] #25 closed

[2017-10-27 18:40] #27 closed

[2017-10-27 18:41] buddh4 commented on #28
The dates are always saved in system timezone, but the issue seems to be pretty old anyways, so I close it for now.

[2017-10-27 18:41] #28 closed

[2017-10-27 18:43] #29 closed

[2017-10-27 18:44] #30 closed

[2017-10-27 18:44] #20 closed

[2017-10-27 18:45] #32 closed

[2017-10-27 18:46] #39 closed

[2017-10-27 19:30] #38 closed

[2017-10-27 19:31] #41 closed

[2017-10-27 19:33] #43 closed

[2017-10-27 19:33] #44 closed

[2017-10-27 19:33] #45 closed

[2017-10-27 19:35] buddh4 commented on #46
A bit late, you have to clone/copy it into the `module` directory and then install it in your Admin Module section.

[2017-10-27 19:35] #46 closed

[2017-10-27 19:36] #47 closed

[2017-10-27 19:37] buddh4 commented on #50
Is this still an issue?

[2017-10-27 19:39] #56 closed

[2017-10-27 19:43] #66 closed

[2017-10-27 19:44] #68 closed

[2017-10-27 19:45] #70 closed

[2017-10-27 19:45] #71 closed

[2017-10-27 19:45] #72 closed

[2017-10-27 19:46] #74 closed

[2017-10-27 19:47] buddh4 commented on #75
Should be managed by user locale.

[2017-10-27 19:47] #75 closed

[2017-10-27 19:48] #77 closed

[2017-10-27 19:50] buddh4 commented on #81
Does not seem to be related to calendar module?

[2017-10-27 19:50] #81 closed

[2017-10-27 19:51] #58 closed

[2017-10-27 19:51] #61 closed

[2017-10-27 19:52] #62 closed

[2017-10-27 20:04] buddh4 commented on #87
Is this still an issue, could not recreate this.

[2017-10-27 20:09] Twilek-de commented on #83
Why was this closed? Is it already implemented or will it not be implement?

[2017-10-27 21:11] #69 closed

[2017-10-27 21:16] buddh4 commented on #60
Sorry, you can also ask such question within the [Community](https://community.humhub.com/) and mention someone of the team. Sometimes we loose sight of such issues. Is this issue still occuring?

[2017-10-27 21:17] #57 closed

[2017-10-27 23:45] acs-ferreira commented on #50
Not reproduced with latest version.

[2017-10-29 23:06] 001101 commented on #83
@Twilek-de maybe it is not possible in timetable

[2017-10-29 23:07] 001101 commented on #87
yes and I have no idea how to fix it, because the module crashes the whole site on multiply different versions.

[2017-10-30 15:30] MBlondin opened #94 "Events not appearing in my calendar - French Language"
I have module version 0.6.3 in HumHub French language.  Evens created in spaces or profile are not appearing in the overall calendar accessible from the top navigation menu

[2017-10-30 20:09] #94 closed

[2017-10-30 20:13] MBlondin opened #95 "Calendar event BG color"
Ability to set in the configuration the default event BG color.  Also, have the ability for them to be displayed in the category color

![image](https://user-images.githubusercontent.com/1737991/32193231-03a2021a-bd8d-11e7-8561-1be3af336658.png)

[2017-10-31 13:58] anticultist opened #96 "Enhancement: Prompt on closing the date popup when a comment was written but not send"
Some users have reported that they tend to click on the close button of the date popup instead of the send button after writing a comment because it is bigger. So after clicking on close the comment is gone forever and it has to be written again.
I suggest a question box or similar to ask the user if he or she will really close the popup date window so that his or her unsaved comment is lost.

[2017-11-03 13:56] dmitrydrynov commented on #16
How enable Recuring Events? Very need it.

[2017-11-21 10:16] arnfinnkristensen opened #98 "cancel deleting event still deletes event"
1. create test-event in calendar
2. open its newsfeed entry
3. click delete
4. in confirmation dialog, click "cancel"
5. expected: nothing happens
actual: it gets deleted!!

[2017-11-21 13:07] arnfinnkristensen opened #99 "possible to sign up for more than there is room for on the activity"
1. Create an event with max 1 participant
2. Choose the maybe button
3. Choose another user and this user click participate
4. Use the first user (that clicked the maybe button) but now click participate button.
5. Now there are two people that are participate on the activity that is only allowed for one. This applies for activies that have a maximum number of participant

![image](https://user-im

[2017-11-23 09:51] cellarcode commented on #6
This would be awesome!

[2017-12-02 17:20] 001101 commented on #88
it has worked out now in the new version, but i just could only delete the module, but doesn't matter so far, can be closed.

[2017-12-03 20:48] benedetto opened #101 "Closing list of participants also closes event view"
# Steps to reproduce:
1. In calendar view click an event. The overlay opens showing the event details.
2. Click one of the attendance states (e.g. participating) to show the persons with this state. A new overlay opens.
3. Click close or the "x" button to close the person list.

# What happens:
Not only the person list but also the event details view closes and you get back to the calendar.

# Exp

[2017-12-07 12:19] staxDB opened #103 "Interface Problem"
Hey there,
I've written a calendar extension module to sync external calendars (like Google Calendar via private link) in iCal-Format.
To integrate my events in the humhub calendar, I use your [interface](https://github.com/humhub/humhub-modules-calendar/blob/master/docs/interface.md)

I store my events exactly like the events in your module. The problem I have is, that if I have an all-day event

[2017-12-11 09:23] mohamedsafiyullah opened #104 "Notification email not send to members email"
If i send space invite or commenting any post the emails are sent immediately. The issues only when i setup an event in the calendar.

[2017-12-15 09:18] kristianlm opened #105 "humhub.ui.modal.js: "submitted" event doesn't propagate server-response"
Hi,

I've run into a problem where I would like to listen to the `submitted` event of my `modal`, and I would like to take the the server-response and use it to do further processing. With the current API, that is impossible because the server-response isn't passed to any `submitted` handlers.

Could we apply this trivial patch?

[code]

Thank you

[2017-12-17 23:41] sommarnatt opened #106 "$this->start_date missing Hours:Minutes when choosing sv as language"
Hi!

Got an issue adding/editing calendar events when locale is set to sv. (swedish)
Both start_date and end_date are set to Y-m-D (like 2017-12-13) in same cases where in other they're set to full datetime: 2017-12-13 00:00:00.
Changing to en_us my debugs give me datetime entries i.e. 2017-12-13 00:00:00

Where should I start debugging it? (sorry new to both humhub and yii)

This causes All Day t

[2017-12-20 20:50] staxDB opened #107 "Snipped can not be disabled in spaces"
Because of [this Code](https://github.com/humhub/humhub-modules-calendar/blob/36e15c4a9239f1534890d77234dd8696b0670287/Events.php#L68) in the [Events.php](https://github.com/humhub/humhub-modules-calendar/blob/master/Events.php), the snipped is always enabled, even if disabled in settings...

Shouldn't the code look [like this](https://github.com/humhub/humhub-modules-calendar/blob/36e15c4a9239f15

[2017-12-21 14:36] buddh4 commented on #105
You should do a Pull Request to the the humhub core repository, but you are right this would be helpful.

[2017-12-28 12:59] bumrufus opened #108 "widget shows an event 1 day longer than it is"
![calendar](https://user-images.githubusercontent.com/34074733/34411504-4c279928-ebd7-11e7-8900-e3ea1ca5e382.PNG)
![space](https://user-images.githubusercontent.com/34074733/34411505-4c40ee0a-ebd7-11e7-89c1-791c05e17786.PNG)
![widget](https://user-images.githubusercontent.com/34074733/34411506-4c59b746-ebd7-11e7-9d77-93484c5e5753.PNG)

[2017-12-28 13:04] bumrufus commented on #108
as u can see on the last screenshot, the widget shows the event till 11.01.2018 and not 10.01.2018 (as u can see on the first 2 screenshots)

[2017-12-28 13:24] bumrufus commented on #108
its only in combination with the external_calender module

[2018-01-04 09:38] arnfinnkristensen opened #110 "Drop down menu, will not be loaded with the correct items after clicking attend in detailed view."
When opening an event in the calender and clicking the drop down menu in the right corner the lists of item look like the pictures below:

![image](https://user-images.githubusercontent.com/30318362/34557235-d7595c90-f139-11e7-8177-bae29952bc56.png)

If you the click the button attend (Delta in norwegian) the drop down menu look like this:

![image](https://user-images.githubusercontent.com/303183

[2018-01-10 08:21] woodl3y opened #111 "Embedded images not working"
I created some calendar events each with an image embedded in the body.  They worked properly, but after a day or 2 the images started displaying as placeholders:

![image](https://user-images.githubusercontent.com/4141825/34762269-50b04a58-f63b-11e7-8ebf-74980f0eea0e.png)

I'm running HumHub v1.2.4 on Ubuntu 17.10

[2018-01-15 02:48] Felli opened #112 "Recurring Events"
As requested [here](https://community.humhub.com/content/perma?id=135921).

@buddh4 can you mark this as an enhancement when possible.

[2018-01-17 13:11] verbre opened #113 "Encoded characters (not ascii ?)"
Hi,
When using single quotes in the title of the events they are incorrectly coded on the display. Can I change that?
![encoding](https://user-images.githubusercontent.com/34917479/35044350-5a9282c0-fb90-11e7-81f7-1c48a925c6ec.JPG)

[2018-01-19 12:50] buddh4 opened #114 "Markdown file upload not attaching files"

[2018-01-19 12:52] #114 closed

[2018-01-19 18:28] buddh4 commented on #83
Hmm, probably implemented the backend logic, but did not remove the restriction within the widget, I'll do some tests within the next days.

[2018-01-21 17:33] blu-IT commented on #6
+1

[2018-01-22 07:18] SvSven commented on #111
This _should_ be fixed in 4d8ed92 if I'm not mistaken.

Reason this happened was because the embedded images were not attached to a calendarEntry, causing them to be deleted by a trash collection cron job.

[2018-01-22 07:34] bumrufus opened #116 "issue on language translation since update to 0.6.4"
in the file views_global_index.php there is the translation line:
'I'm attending' => 'Ich nehme teil', but this line doesn't work because of the character atfer I

it should look like this:
"I'm attending" => 'Ich nehme teil', i've change it and it's working!

[2018-01-22 07:38] bumrufus commented on #107
can confirm that! please add this to your next update!!

[2018-01-22 10:58] blu-IT commented on #48
+1

https://www.bountysource.com/issues/39882877-osm-integration

Anyone else?

[2018-01-22 22:59] danielkesselberg commented on #6
If I understood most of the comments correctly, then you wish a caldav client for humhub? (e.g my personal calender is connected within a calendar from another source). Is this correct?

[2018-01-22 23:44] 402vette commented on #6
Yes I'd like to have caldav connectivity to my humhub calendars for mobile and desktop client sync.

[2018-01-23 00:10] blu-IT commented on #6
No, I want to access the humhub calendar via caldav to integrate/access the calendar with my existing mobile and desktop client.

[2018-01-23 07:19] gino909 commented on #6
Hi
For personal calender indeed could be useful to integrate an existing calendar via caldav. Means in this case the calendar is a caldav client. For space calendars it could be more usefull if is a caldav server and outside clients can connect to it.

Why: I think is not useful to run multiple personal calendars, tehrefore it would be great to integrate the existing personal calendar in humhub.
B

[2018-01-24 10:30] SvSven opened #117 "Date selection accepts invalid user input"
1. Create an event
2. Disregard the datepicker, instead type in "12345"
3. Save event successfully
4. PHP cannot convert the string "12345" sent by the frontend to datetime, defaults to unix epoch (1970) instead
5. Event is now saved with start date set to 1970

Possible solutions:
1. Set date fields to readonly, forcing users to set a date using the datepicker - this will also solve a UX issue of

[2018-01-24 19:43] humhubuser commented on #116
After trying: That doesn't work !!!

[2018-01-24 19:48] bumrufus commented on #116
For me its working

[2018-01-24 19:55] humhubuser commented on #116
So much translation irritation in this software!!!!!
Is it possible to downgrade the Calendar-Modul?

[2018-01-25 06:10] humhubuser commented on #116
.../calendar/widgets/views/CalenderFilterBar.php shows the Variable 'I\'m attending' since 0.64

so views_global_index.php has to be changed:
'I\'m attending' => 'Ich nehme teil'

The backslash did it.

[2018-01-25 07:05] bumrufus commented on #116
which backslash?

this is my code:
`<?php
return array (
  '<strong>Filter</strong> events' => 'Termine <strong>filtern</strong>',
  '<strong>Select</strong> calendars' => 'Kalender <strong>auswählen</strong>',
  'Already responded' => 'Beantwortet',
  'Followed spaces' => 'Gefolgte Seiten',
  'Followed users' => 'Gefolgte Benutzer',
  "I'm attending" => 'Ich nehme teil',
->> Error  'I'm attending

[2018-01-25 09:40] humhubuser commented on #116
Sorry, backslash was killed by the editor, I updatet my post.

[2018-01-25 10:09] bumrufus commented on #116
ahh ok !!

[2018-01-29 10:00] kristianlm commented on #105
Reintroduced as humhub/humhub#2975, closing this issue

[2018-01-29 10:00] #105 closed

[2018-02-02 13:01] mfrb commented on #113
Hi, an idea ? Encoding is not ascii why ?
![calendrierascii](https://user-images.githubusercontent.com/34917479/35734481-9cb2460c-0821-11e8-8056-46a02fe28cd3.JPG)

[2018-02-04 16:16] mfrb commented on #113
Hello, have you a solution ?

[2018-02-12 15:47] staxDB commented on #103
Addition:
If I pass my datetimes in the same way as it is done in [CalendarEntry](https://github.com/humhub/humhub-modules-calendar/blob/6ccd5c7fe7fd647f6a19328ea7303068b418ca69/models/CalendarEntry.php#L374) and the "Upcoming Events"-Widget is not enabled - everything works fine.
But if it is then enabled, the following error appears:
[code]

Thats because I send the event as String (`php:c`), no

[2018-02-13 13:08] staxDB commented on #103
When the Upcomin-Events Widget is called, the view looks for [this](https://github.com/humhub/humhub-modules-calendar/blob/6ccd5c7fe7fd647f6a19328ea7303068b418ca69/widgets/views/upcomingEvents.php#L37) which later calls [$this](https://github.com/humhub/humhub-modules-calendar/blob/6ccd5c7fe7fd647f6a19328ea7303068b418ca69/models/CalendarDateFormatter.php#L72).

Issue is the [`getDurationDays()` -

[2018-02-16 16:41] staxDB opened #119 "Interface Problem Sorting"
Hey there,
If you use the interface to insert events, the upcomingEvents Snippet has some major problems by sorting these events.

Therefore we can add sorting for [getCalendarItems()](https://github.com/humhub/humhub-modules-calendar/blob/6ccd5c7fe7fd647f6a19328ea7303068b418ca69/interfaces/CalendarService.php#L100) in the [CalendarService.php](https://github.com/humhub/humhub-modules-calendar/blo

[2018-02-27 18:32] verbre commented on #113
Hello ?

[2018-03-02 20:22] acs-ferreira opened #121 "Change event type"
Inside a space with Calendar enable, try to change Event Types trows an error 404:

`The requested resource could not be found`
[code]

[2018-03-09 01:17] staxDB commented on #112
Please also add an option for recurring events in the interface of this module..
This would be really helpful

[2018-03-13 09:05] funkycram opened #124 "single quotation mark displays &#039 on the calendar"
If you write `test ' test` in the title of an event, on the calendar it will display `test &#039 test`

[2018-03-13 19:45] rcheetah commented on #124
I can confirm that one. For me it escapes the `&` character with `&amp;` It seems the calendar doesn’t render HTML Ampersand Character Codes. I don’t understand why there encoded anyway, because every such thing in HumHub should use UTF-8, shouldn’t it?

[2018-03-22 12:31] arnfinnkristensen commented on #99
Is this fixed?

[2018-03-27 10:16] Maulwurf16 commented on #6
+1
The calendar module "Must" act as a caldav server. Users want to check their aqnd create appointments via their smartphone.

As no humhub App exists, the caldav functionality is even more needed.

[2018-03-27 20:12] blu-IT commented on #6
Hi guys,

as the first request for this feature is nearly 4 years old and I'm sure it isn't done with a few rows of code, it would be helpful if everybody commits a little bounty for a developer who might want to do this job.

Here is the link to Bountysource once again: https://api.bountysource.com/badge/issue?issue_id=5747381

[2018-03-27 22:08] jimmymarbles opened #125 "New Event With Start and Stop Time Will Not Align With Local Timezone"
Humhub 1.2.4
Calendar 0.6.4

When creating a new event with a start and stop time, the timezone defaults and locks to -11:00 or Pacific/Niue.  Even when adjusting to match my timezone (America/Los_Angeles) in the edit function. The time and date  automatically adjust 11:00 from the time entered.

Is it possible to remove the timezone adjust function and have humhub only use the timezone selected i

[2018-03-29 14:48] jimmymarbles commented on #125
Ok, so I figured out what is happening.  There is a timezone dropdown menu in the user profile and that needs to be set before users create calendar events.

[2018-03-29 14:48] #125 closed

[2018-04-04 07:11] DBMUD-MM opened #127 "Adding Calendar-Entry on iOS (iPhone) not possible"
### What steps will reproduce the problem?
If you open e.g. the global calendar in the safari browser.

### What is the expected result?
No reaction when touch in the calendar view. No window for adding an entry.

### Additional info
On android device it apparently worked.

| Q                | A
| ---------------- | ---
| HumHub version   | 1.24?
| PHP version 7.0.29    |
| Operating system iOS 1

[2018-04-16 06:50] #119 closed

[2018-04-16 06:51] staxDB commented on #108
Should be fixed with Calendar v.0.6.7

[2018-04-16 06:51] staxDB commented on #107
Fixed with Calendar v.0.6.7

[2018-04-16 06:51] #107 closed

[2018-04-16 07:10] staxDB commented on #103
Fixed with Calendar v.0.6.7

[2018-04-16 07:10] #103 closed

[2018-04-16 07:16] staxDB opened #128 "Issue with Filter "Participant" - FilterNotSupportedException"
If all filters are set with the latest calendar version (v.0.6.7), no events are shown.
![filter selected](https://user-images.githubusercontent.com/8705799/38794761-6a1b1aca-4156-11e8-93c4-052f958b9360.png)
the log-file displays the following error messages:

[code]

This error also affects any module that uses the interface, like my [external calendar - module](https://github.com/staxDB/humhub-m

[2018-04-17 09:25] buddh4 opened #129 "Better "Other Calendar" settings + other calendar filter"
Currently an admin can set default settings for active "Other Calendars" and spaces/users can overwrite those the default calendars types to show. It's not very obvious which types are active in which calendar expecially in the global calendar view.

An "Other Calendar" Picker to include and exclude calendars would solve this.
The same goes for the upcoming events.

[2018-04-18 08:37] staxDB commented on #128
Do you mean Calendar v0.6.9 ?
Yeah, but the error is still logged..

[code]

[2018-04-18 08:39] acs-ferreira commented on #128
Are you in DEBUG mode?
https://github.com/humhub/humhub-modules-calendar/commit/a22b7d5475bd12208c492ec72d3fa1eece1ffdf6

[2018-04-19 08:36] buddh4 opened #130 "Add a view more button to the upcoming events widget with link to the calendar in case there are more upcoming events."

[2018-04-19 08:53] buddh4 opened #131 "Add setting to include all birthdays into the upcoming events widget for smaller communities"

[2018-05-11 17:21] sebKopp opened #134 "Exception &#039 // status: 500"
Hi there,

I have one problem with the calendar-module - it didn't work with humhum 1.2.3 and now I have version 1.2.5 and it also does not work.

The error path:
- opening the calendar module
- selecting one Day via click
- selecting "profile calendar" in dropdown
- click "ok"

Then the error occures and it is not possible to create an entry into the calendar

May I ask you for help? Thank you ve

[2018-05-11 18:08] danielkesselberg commented on #134
Could you try to install the latest calendar version?

[2018-05-11 18:30] sebKopp commented on #134
Hi Daniel, I have already installed the latest calendar version. Thanks for your response!

[2018-05-13 18:13] christophehurpeau commented on #90
same issue, did you find a solution ? I ran all migrations

[2018-05-18 08:32] buddh4 commented on #90
Did you check `Administration -> Information -> Database` ? Are there any other errors logged? Also add your module and humhub version.

[2018-05-18 10:32] christophehurpeau commented on #90
After multiple refreshs, uninstall / reinstall module with the command line, it finally found migrations to run. I guess it was a cache issue

[2018-05-18 15:08] #90 closed

[2018-05-29 15:09] flaa1986 opened #138 "Private Profile Calendar Events"
When I create an event on my profile calendar, everybody can see the event, even if is not marked as public.
Is this behavior ok?
or it's supposed to be visible only for me and not working properly?
Thanks for your time.

[2018-06-05 08:28] staxDB opened #139 "Enhancement: Export all Events from Calendar to Excel and ICS"
It would be preferable to be able to export all events in **Excel** and **ICS**.
At the moment it is only possible to export certain events via ICS.
**Important**: Events entered via the interface should also have the export function.

[2018-06-09 05:13] sarz4fun commented on #127
Not working in android too. Humhub 1.2.7

[2018-06-14 17:44] pushpendra90 commented on #7
i have implemented add comment on calendar
![calender-comment](https://user-images.githubusercontent.com/24241881/41428742-9de238a6-7028-11e8-8609-e52b4c7b5d97.PNG)

[2018-07-26 15:26] St-Ki opened #142 "Use categories to create a legend"
Hey everyone!

Maybe it's a feature idea for a next version.

I added some hardcode into the calendarFilterBar-view to display a kind of legend of my global categories to display them on top of the calendar.

![image](https://user-images.githubusercontent.com/41570820/43271409-b9e8d2fe-90f7-11e8-8e9b-d4f7314cb7df.png)

It's actual just a visual thing but it would be a nice option to get some more

[2018-08-25 10:10] staxDB opened #143 "Undefined variable: isSpaceGlobal"
Issue with the latest **Calendar Module v0.6.18**  and **HH v1.3.1**  or **HH v1.3.2dev**:
When clicking on a calendar view, then on the `options` of this calendar an at least on `other calendars` I get this error message (extracted from the log):
[code]

[2018-08-25 10:59] staxDB commented on #143
i guess the [calendarsConfig.php](https://github.com/humhub/humhub-modules-calendar/blob/master/views/common/calendarsConfig.php) file in [line 51/51](https://github.com/humhub/humhub-modules-calendar/blob/c9985015696f1d41592872673a6ef1834925009a/views/common/calendarsConfig.php#L50)
 should look like this:
[code]

[2018-08-25 12:03] danielkesselberg commented on #143
@staxDB would you mind opening a pr for that?

[2018-08-27 11:42] #128 closed

[2018-08-27 11:53] bumrufus commented on #143
i've tried your fix, the error disappaers but i can't change the global calendar, instead of the edit button(pencil) there is a text: (generell)

[2018-08-27 12:01] bumrufus commented on #143
this text is only in the admin section ACP - Module - Calendar - configure - other calendars

under the space section there is still the edit button (pencil) Space - Option (gear) - Module - Calendar - - configure - other calendars

[2018-08-28 06:12] bumrufus commented on #143
![acp](https://user-images.githubusercontent.com/34074733/44704007-0e83bc00-aa9a-11e8-972e-d5263b52bcf8.PNG)
![space](https://user-images.githubusercontent.com/34074733/44704008-0e83bc00-aa9a-11e8-84f4-6b0165a69ba2.PNG)

[2018-08-28 07:04] staxDB commented on #143
I know what you mean. But take a look at the [file I modified](https://github.com/humhub/humhub-modules-calendar/blob/master/views/common/calendarsConfig.php): I only [added one line here](https://github.com/humhub/humhub-modules-calendar/blob/c9985015696f1d41592872673a6ef1834925009a/views/common/calendarsConfig.php#L50) so that no error message is generated in the view.
This file calls the sub-vi

[2018-08-28 07:14] bumrufus commented on #143
ok thx, i just want to let u know that there is this error (or not) so maybe the humhub team could look into it. since everything is working for me its ok for me because i dont want to edit the calendar global :-)
thx for your fix

[2018-08-29 07:56] staxDB commented on #143
I agree with you! I also think it would be nice to have the ability to edit other calendars in the global calendar view and save these settings for each user individually..... I think I'll open a new issue for that

[2018-09-05 10:50] Richies97 opened #145 "Deleting Calender Entries"
### What steps will reproduce the problem?

Trying to delete an calendar entry as a normal user (admins can delete them)

### What is the expected result?

Getting a window where to choose between deleting and chancelling the process like this:

![soll](https://user-images.githubusercontent.com/11535546/45088357-04506600-b109-11e8-8bf7-4838660c7860.PNG)

### What do you get instead?

A window wher

[2018-10-31 12:28] IgorisMac opened #146 "Not validates time in lithuanian locale when selecting not all day"
On lithuanian locale writes error when i select not all day (time is correct)
![image](https://user-images.githubusercontent.com/43174570/47787982-26d1ba80-dd19-11e8-86de-f09addac7a8a.png)

[2018-11-29 13:45] mstanarevic opened #148 "Question: Discussion in events"
Hello @buddh4 !

First of all, I wan't to thank you for all your work.It's great!

Is there a way to create an event that can be discussed by its participants? (by other posts, not by comments).
Can you give any guidelines to achieve that? ( I would fork your module and try to accomplish that)
Thanks in advance.

[2018-11-30 10:34] beja-hs-furtwangen commented on #112
+1

[2019-01-21 14:36] #148 closed

[2019-01-28 09:10] Kachelkaiser commented on #127
Any ideas to fix this issue. Still there with 1.3.8

[2019-01-30 06:59] Kachelkaiser commented on #127
Ok. When you touch a little bit longer, then it works.

[2019-02-01 23:08] buddh4 commented on #127
I think this behaviour was chosen by the fullcalendar in order to distinct open events from create events, perhaps we should add a create event button for mobile devices, since the touch behaviour is not obvious.

[2019-02-01 23:17] buddh4 commented on #148
Sorry kind of missed this one ;) I think we hould generally rework the UI for single entry streams. The comments could be rendered in a different style/order, and the comment input could be positioned on top.

Another idea would be the introduction of content relations concept.

[2019-02-04 19:22] Nos- commented on #6
CalDav-Integration would be very useful. I would like to use my Calendar-Apps (CalDav-Clients) on my Mobiles to sync my dates.

[2019-02-04 19:23] Nos- commented on #4
Maybe #6 could solve this.

[2019-02-04 19:23] Nos- commented on #16
Maybe #6 could solve this.

[2019-02-04 19:24] Nos- commented on #112
Maybe #6 could solve this.

[2019-02-04 19:41] rcheetah commented on #127
Absolutely, this sounds very useful!

[2019-02-27 13:11] Cattamer commented on #6
Maybe intetegrate http://sabre.io into humhub?

[2019-03-12 15:36] V-Kolodij opened #149 "Created date"
After create new event in calendar, created date is 01.01.1970  https://prnt.sc/mwvl61
In WallEntry widget $content->created_at return object(yii\db\Expression).

I simple added in function getWallEntryViewParams() :
$params = parent::getWallEntryViewParams();
        $content = $this->contentObject->content;
        if (is_object($content->created_at)){
            $createdAt  = time();
        }

[2019-03-26 22:51] shinySonic opened #150 "Time with eg "18:00" will result in "18" in the calendar"
here is a Screenshot:
![hub_calendar](https://user-images.githubusercontent.com/48969167/55038650-dc334080-5021-11e9-9919-f68341163a09.PNG)

Humhub: 1.3.11
Calendar Version: 0.6.22

[2019-04-09 18:39] blu-IT opened #154 "Change notification details (e.g. add date with new calendar event)"
Hello,

when creating a new calendar event a notification with the title of this event is send - _but not any details like date or time._
So when adding multiple events with the same title, but **on different days** it is confusing for the users, because the get serveral notifications of a new event and think that this notification has been sent multiple times for the same event by error.

Regards

[2019-04-09 18:45] blu-IT opened #151 "Existing event as template"
Hello,

I would like to see the possibility to **save templates for events** and/or to **copy and modify an existing event**, so that I can handle to add multiple events/recurring events easier and faster.

Thanks!

Regards,
Ivan

[2019-04-25 14:14] mutil opened #152 "Problems with Greek locale"
When trying to save an all-day event, the date gets transformed to January 1970 and it shows error `End time must be after start time`.
If the event has a start and end time then there is a `Start time format is invalid` error.

[2019-04-29 08:40] knackko opened #153 "Add List View"
Enhancement purpose:
Can the List View be added aside Month View as Full Calendar provides it?

[2019-04-29 08:46] knackko commented on #52
Is there any ics/csv feature developped since 2017? maybe in beta/test?

[2019-04-29 09:05] buddh4 commented on #52
I'am currently working on the export logic in:

https://github.com/buddh4/humhub-modules-external-calendar

which is a fork of the following module, which already implements an import:

https://github.com/staxDB/humhub-modules-external-calendar

Note my fork requires the following calendar module feature branch:

https://github.com/humhub/humhub-modules-calendar/tree/feature/extendable-nav

[2019-04-30 07:57] knackko commented on #52
Thanks.

I'm working on a humble site which is in a development state,  so I can test this enhancement if needed when you think it can be tested.

[2019-05-03 17:42] buddh4 commented on #52
Feel free to test the module. I think the author of the import logic already uses his module (without export) in production.

If you want to test the export logic as well use the https://github.com/buddh4/humhub-modules-external-calendar/tree/feature/export branch.

[2019-06-06 12:40] hajonolte commented on #145
same problem here. as admin the same windows WITHOUT buttons appears (in chrome).

[2019-06-13 10:18] HumanInfoLink commented on #145
I have the same problem, anyone have a solution? - Otherwise, great module! :-)

[2019-07-04 10:00] Pooya-Oladazimi opened #155 "Bug: Event days don't get colored"
When a user creates an event which takes several month inside an space, The Calendar month view only colored the first month and last month.

for example, If you create an event from 15th of July to 15th of October, It only colors the days in the July and October, the days in August and September don’t get colored.

Humhub : 1.3.13

Calendar Module : 0.6.22

[2019-07-12 05:35] ChadiRachid opened #156 "Upcoming Events show events from Midnight onwards including completed events"
Current Calendar Snippet shows events from Midnight of the current day till the set duration in the calendar event.
This causes the events that are completed to still show up in the widget.

The culprit is in the AbstractCalendarQuery class that strips the time part of the Date value.

[2019-07-18 12:08] rockdevel opened #158 "Bug: Very long events (longer than a month)"
I have an Event from 15. may to 19. July.

This ist only shown in May and July, not in June (month view)
or in the week from 13.-19. May and 15.-21.July, not in the weeks between (week view)

It would be desirable to see it in every view.

[2019-08-18 20:22] #156 closed

[2019-10-07 12:26] pillgrim opened #160 "Create a recurring event"
It would be a nice function for event.
Create a recurring event.

[2019-10-10 09:17] Semir1212 commented on #160
We are working on it

[2019-10-11 15:32] buddh4 opened #161 "Error when accessing global configuration, in case the module is not enabled on profile level"
When a user which did not install the calendar module on his profile tries to access the configuration of the global calendar a "This module is not installed on this content container" error is thrown.

Either switch the button with "Install calendar on my profile" or handle error properly e.g. redirect to profile module page with info message "Please enable calendar module on your profile first".

[2019-10-16 12:27] #14 closed

[2019-10-17 12:51] fsainovich opened #162 "Wrong Calendar Time"
When add a new calendar item after certain date, humhub save with +1 hour.

This year my country dont have daylight time. Dont find configuration for this.

![image](https://user-images.githubusercontent.com/27427085/67010272-b2c42a00-f0c3-11e9-8947-208adf712c4d.png)
![image](https://user-images.githubusercontent.com/27427085/67010285-ba83ce80-f0c3-11e9-961b-de59b5d37545.png)

[2019-10-18 10:39] jona71 opened #163 "PHP < 7"
Does not work any more and there is no chance to disable/remove module to get site running again.

humhub/protected/modules/calendar/vendor/sabre/uri/lib/functions.php
PHP Parse Error – yii\base\ErrorException
syntax error, unexpected ':', expecting '{'

[2019-10-18 19:19] kesselb commented on #163
https://github.com/humhub/humhub-modules-calendar/commit/22b1087d091df39b8cac71b8b24d263973fa2d96 are you using 0.7.4?

[2019-10-19 16:54] jona71 commented on #163
Yes, just updated to 0.7.4.
Whole site is not working since that update, dashboard uses calendar plugin.

[2019-10-19 19:57] benedetto commented on #163
I have the same issue over here.

[2019-10-20 10:13] jona71 commented on #163
The problem may be PHP 5.6**1**
In composer.json line 6 i found:

[2019-10-20 10:22] kesselb commented on #163
cc @buddh4 :ping_pong:

[2019-10-21 14:58] rafawrm commented on #163
I have the same issue over here.
How to fix to get the system back up?

[2019-10-23 19:29] benedetto commented on #163
@rafawrm For the moment I restored a backup and do do not update the calender app until this issue is fixed. The good news is that I only had to restore the backup of the files and not of database, which makes things easier...

But I would also be highly interested in a working solution.

[2019-10-24 13:16] rafawrm commented on #163
What files did you restore? I only have the calendar module backup.

[2019-10-24 19:43] benedetto commented on #163
@rafawrm I just restored the whole humhub directory from my daily backup since I knew that there have not been any other files that were modified since the last backup...

[2019-10-25 09:14] #163 closed

[2019-10-25 09:29] buddh4 commented on #163
Sorry, my local installation somehow used the right sabre/uri version, don't know why this was not the case in the release.

[2019-10-28 00:42] rafawrm commented on #163
How do I install this fix if I no longer have access to the site.

[2019-10-28 14:52] buddh4 commented on #163
You could download and replace the module manually:

https://github.com/humhub/humhub-modules-calendar/releases

and replace `humhub/protected/calendar`

[2019-10-28 16:49] rafawrm commented on #163
PHP Compile Error – yii\base\ErrorException
humhub\modules\calendar\Events::registerAutoloader(): Failed opening required '/var/www/html/intranet/protected/modules/calendar/vendor/autoload.php' (include_path='.:/usr/share/php:/usr/share/pear')

[2019-10-28 18:10] buddh4 commented on #163
Did you try updating the module by console before replacing it?
I've attache v0.6.22:

[calendar-v0.6.22.zip](https://github.com/humhub/humhub-modules-calendar/files/3780035/calendar-v0.6.22.zip)

Replace this version.

[2019-10-28 18:17] rafawrm commented on #163
Running perfectly, thank you for your attention.

[2019-11-12 14:27] tofixx commented on #139
a ical stream that updates automatically would be quite perfect.

[2019-11-29 13:38] buddh4 opened #164 "Calendar Reminder"

[2019-12-06 10:33] Pooya-Oladazimi opened #165 "Character limitation in Event title"
**Problem** :
Regarding events in the calendar module. I noticed that there is a character count limitation in event title. I had a long title for my event, but I could not write it entirely because of the mentioned limitation.

**Suggestion** :
Could you please increase or remove this limitation?

**Screenshot of the problem**:

![calendar](https://user-images.githubusercontent.com/16546640/70316

[2019-12-06 16:22] buddh4 commented on #139
Check out this module: https://github.com/buddh4/humhub-modules-external-calendar/tree/master

[2019-12-18 20:01] tyte commented on #106
I am having a similar issue with the Swedish version, two years later. Did you manage to solve it?

[2019-12-19 11:39] tyte commented on #146
Exactly same issue with Swedish locale.

[2020-01-10 16:58] buddh4 commented on #33
Closing this, since its available since v0.5

[2020-01-10 16:58] #33 closed

[2020-01-10 17:00] buddh4 commented on #34
Should work in latest version.

[2020-01-10 17:00] #34 closed

[2020-01-10 17:01] buddh4 commented on #35
The permissions have been reworked since this ticket was opened, if this still occures, open a new issue with some more detailed information.

[2020-01-10 17:01] #35 closed

[2020-01-10 17:03] buddh4 commented on #36
This won't be part of the core calendar module, perhaps check: https://github.com/buddh4/humhub-modules-external-calendar

[2020-01-10 17:03] #36 closed

[2020-01-10 17:03] #50 closed

[2020-01-10 17:05] #52 closed

[2020-01-10 17:06] #59 closed

[2020-01-10 17:12] buddh4 commented on #60
Hope you could somehow solve the issue, don't really know how I should try recreating this. Let me know if you have still similar issues.

[2020-01-10 17:12] #60 closed

[2020-01-10 17:13] #49 closed

[2020-01-10 17:15] buddh4 commented on #83
Should be supported since v0.6.5

[2020-01-10 17:15] #83 closed

[2020-01-10 17:16] buddh4 commented on #134
You probably have to update your humhub core version.

[2020-01-10 17:16] #134 closed

[2020-01-10 17:17] #85 closed

[2020-01-10 17:18] #87 closed

[2020-01-10 17:20] #88 closed

[2020-01-10 17:23] buddh4 commented on #96
Don't really understand where and what this issue is related to. If this is still an issue, reopen a new one with a more detailed description and perhaps a screenshot.

[2020-01-10 17:23] #96 closed

[2020-01-10 17:23] #98 closed

[2020-01-10 17:32] buddh4 commented on #110
Could not recreate the error, is this still an issue?

[2020-01-10 17:33] buddh4 opened #166 "Archived events are not excluded from the calendar event"

[2020-01-10 17:35] buddh4 commented on #104
In case this is still an issue, let me know and I'll reopen the issue. And please try to provide some more detailed information. Which notification is not sent to whom, how to recreate?

[2020-01-10 17:35] #104 closed

[2020-01-10 17:36] #111 closed

[2020-01-10 17:37] buddh4 commented on #113
Sorry for the late reply, should be fixed already.

[2020-01-10 17:37] #113 closed

[2020-01-10 17:39] buddh4 commented on #116
Should be fixed

[2020-01-10 17:39] #116 closed

[2020-01-10 17:43] buddh4 commented on #121
Is this still an issue, could not recreate this with the latest version.

[2020-01-10 17:44] buddh4 opened #167 "Can not remove calendar type, once a calendar type is set."

[2020-01-10 17:45] buddh4 commented on #124
Should be fixed.

[2020-01-10 17:45] #124 closed

[2020-01-10 17:48] buddh4 commented on #138
Can not recreate this issue, do you have the friendship mode active?

[2020-01-10 17:48] #139 closed

[2020-01-10 17:51] buddh4 commented on #143
The issue should be fixed already, please create a feature request issue if you have some ideas for enhancements.

[2020-01-10 17:51] #143 closed

[2020-01-10 17:55] buddh4 commented on #145
Can not recreate this issue, which Module version is in use? You can check the module version in the modules admin section.

[2020-01-10 17:57] arnfinnkristensen commented on #110
I do not know.

Arnfinn.

Sendt fra min iPhone

10. jan. 2020 kl. 18:32 skrev buddh4 <notifications@github.com>:

﻿

Could not recreate the error, is this still an issue?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/humhub/humhub-modules-calendar/issues/110?email_source=notifications&email_token=AHHJ6GSO6UI3VKV6RYHJZU

[2020-01-10 17:57] buddh4 commented on #146
Will be fixed in upcoming version.

[2020-01-10 17:57] #146 closed

[2020-01-10 18:00] buddh4 commented on #150
This is the default behavior of the [fullcalendar](https://fullcalendar.io/docs/v1/timeFormat) I think this is used in order to save space.

[2020-01-10 18:00] flaa1986 commented on #138
Hi!
Yes, I do Have the friendship mode activated

[2020-01-10 18:06] buddh4 commented on #161
fixed in upcoming release

[2020-01-10 18:06] #161 closed

[2020-01-10 18:10] buddh4 commented on #138
Currently friend users are able to see private content, I also think this is not an ideal behavior, we may change this soon.

[2020-01-10 18:11] #138 closed

[2020-01-10 18:14] flaa1986 commented on #138
I thank you for the reply
Have a Nice Day

[2020-01-10 18:17] #108 closed

[2020-01-14 11:47] buddh4 commented on #18
Will be fixed in upcoming release.

[2020-01-14 11:47] #18 closed

[2020-01-14 11:48] buddh4 commented on #92
Will be fixed in upcoming relase.

[2020-01-14 11:48] #92 closed

[2020-01-14 11:50] buddh4 commented on #106
Will be fixed in upcoming release.

[2020-01-14 11:50] #106 closed

[2020-01-14 11:51] buddh4 commented on #117
Will be fixed in upcoming release.

[2020-01-14 11:51] #117 closed

[2020-01-14 11:51] buddh4 commented on #152
Will be fixed in upcoming release.

[2020-01-14 11:51] #152 closed

[2020-01-14 12:03] #155 closed

[2020-01-14 15:18] #121 closed

[2020-01-14 15:26] #78 closed

[2020-01-14 15:27] buddh4 commented on #149
Will be fixed in upcoming version.

[2020-01-14 15:27] #149 closed

[2020-01-14 15:32] #165 closed

[2020-01-14 15:34] buddh4 commented on #162
Should work in the upcoming version, the calendar view will use the timezone determined by your browser, make sure you have the right timezone set in your settings.

[2020-01-14 15:34] #162 closed

[2020-01-14 15:34] buddh4 commented on #162
In case this still appears in the upcoming version (will be released soon) let me know.

[2020-01-14 15:36] buddh4 commented on #158
Will be fixed in upcoming release.

[2020-01-14 15:36] #158 closed

[2020-01-14 15:36] buddh4 commented on #154
Will be included in upcoming release.

[2020-01-14 15:36] #154 closed

[2020-01-14 15:37] #145 closed

[2020-01-14 15:38] buddh4 commented on #112
Recurring events will be supported in upcoming release.

[2020-01-14 15:38] #112 closed

[2020-01-14 15:40] buddh4 commented on #55
I've done some mobile view enhancement for in the upcoming release

[2020-01-14 15:40] #55 closed

[2020-01-14 15:40] buddh4 commented on #16
Will be part of the upcoming release.

[2020-01-14 15:40] #16 closed

[2020-01-14 15:41] buddh4 commented on #4
Will be part of the upcoming release.

[2020-01-14 15:41] #4 closed

[2020-01-16 20:39] rockdevel opened #168 "Bug: emty views after todays update"
Can‘t see any event after todays Update in any view.
Widget still shows all Events, even new created Events.

[2020-01-16 20:55] buddh4 commented on #168
Please check the developer console (http://docs.humhub.org/admin-troubleshooting.html) and also the backend log.

[2020-01-16 21:41] buddh4 commented on #168
This was an issue in combination with url rewriting, thanks for the report, is fixed in the latest version.

[2020-01-16 21:43] #168 closed

[2020-01-17 16:46] #164 closed

[2020-01-17 16:46] #160 closed

[2020-01-17 16:46] buddh4 commented on #153
Is part of v1.0

[2020-01-17 16:46] #153 closed

[2020-01-17 16:48] buddh4 commented on #150
Maybe we should make the time format configurable. In my opinion, once you are used to this format the whole calendar looks a bit cleaner.

[2020-01-17 16:52] buddh4 commented on #95
Related to https://github.com/humhub/humhub-modules-calendar/issues/42

[2020-01-17 18:21] #95 closed

[2020-01-17 18:21] #42 closed

[2020-01-21 15:36] Semir1212 opened #169 "Drag & Drop for recurring events"

[2020-01-24 14:54] Alexmoc8 opened #170 "Insert more participant, location and presence list options"
Hi,

I’m working on a project to an NGO (Sonhar Acordado) it’s like the Make-a-Wish and they have some annual events for volunteer and child, I was trying to create these events by using the Calendar Module and I have some implementation ideas, like:

1 - Add the option to send a participant invitation for users for each event.

2 - At an event creation, add an option of location, like address or

[2020-02-05 15:39] lucassigristsls opened #171 "Complete pt-br translation"
[pt_br.zip](https://github.com/humhub/humhub-modules-calendar/files/4160342/pt_br.zip)

[2020-02-05 17:48] luke- commented on #171
Can you please provide a pull request or use our translation site: http://translate.humhub.org

Thank you!

[2020-02-05 17:48] #171 closed

[2020-02-10 12:20] blu-IT opened #172 "CalDAV integration"
Hello,

is there any CalDAV integration planned?

I'd love to see support for integration of nextcloud calendar into HumHub (and vice versa)!
Users shoud at least be able to have a read access on there devices (phone, tablet, computer) e.g. in Thunderbird or other CalDAV-solutions.

Thanks!

Kind regards

[2020-02-10 12:22] blu-IT commented on #172
Sorry, I saw now that there was already a request:

https://github.com/humhub/humhub-modules-calendar/issues/6

But it is from 2014...

[2020-02-10 16:41] luke- commented on #172
https://github.com/humhub-contrib/humhub-modules-external-calendar Maybe this could be interesting...

[2020-02-10 17:27] blu-IT commented on #172
Hi,

I know this one. But this is "only" for import of external calendars, I would like to be able to "export" humhub calendar (I know this is already possible) **AND** keep it up-to-date on devices via CalDAV.

[2020-02-25 17:46] websenat opened #173 "Event cannot be moved to another Space"
HumHub Version: 1.4.1
Calendar Module Version: 1.0.5
PHP version: 7.4
DB Version: 10.1.44-MariaDB

In the HumHub calendar since version 1.4.1 it is no longer possible to move an event to another space.

Error:

`{
    "url": "/index.php?r=content%2Fmove%2Fmove&id=7900&cguid=e843155e-d03b-4acd-9e2f-e3e97736a5e7",
    "status": 500,
    "response": "<pre>Exception (Database Exception) &#039;yii\\db\

[2020-03-03 13:12] duhuni opened #174 "Spelling in calendar settings of german translation"
### What steps will reproduce the problem?
Use german as your language.
Goto: /u/**your-user**/calendar/container-config
Look at the select box items.

### What is the expected result?
The correct term is "Erinnerung".

### What do you get instead?
Both items instead spell "Errinerung".

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.4.2
| PHP version

[2020-03-04 14:15] luke- commented on #174
Fixed in 1.0.6

[2020-03-04 14:15] #174 closed

[2020-03-05 16:23] buddh4 commented on #170
Everything is possible but takes time to implement. We'll consider such issues for the next bigger release. I think at least the invite feature will be included in the next release.

[2020-03-13 01:43] 001101 commented on #131
there is already a birthday widget available, which would be directly under the calendar widget on the dashboard, so I think that is not necessary.

[2020-03-13 03:06] olantrust commented on #172
Exactly, users want to sync events (and tasks) to their phone or work systems to organise their life on the move, not log in to humhub each time...

[2020-03-22 11:58] johannesh opened #175 "Calendar causes fatal error in humhub dashboard"
## Error: Current version of calendar causes error in humhub dashboard
I experienced issues with the humhub (v1.4.3) dashboard not loading but just showing that there is an error. Some research in the logs indicated that the calendar plugin was causing fatal errors while loading the dashboard.

## Solution: Completely removing the plugin via command line
I was finally able to remove the calendar p

[2020-03-23 14:25] Semir1212 opened #176 "File upload does not work with the first creation of an entry"
When creating an entry the file upload fails without error message. When editing the same entry and uploading the files again it works as intended

[2020-03-26 12:58] buddh4 commented on #166
https://github.com/humhub/humhub/issues/3947

[2020-03-26 13:47] #167 closed

[2020-03-26 13:47] #173 closed

[2020-03-26 13:54] buddh4 commented on #175
Hmm could not recreate this can you run a `show engine innodb status;` der should be a `LATEST FOREIGN KEY ERROR` block with further information.

[2020-03-26 14:24] buddh4 commented on #175
I've implemented an event based fallback for the foreign key. Nontheless I don't see any reason for the error. Would be great if you could check the innodb status as mentioned in my previous comment in order to do some further investigation.

[2020-03-26 22:46] GertuZz commented on #175
Same problem here after installing 1.0.7. When adding this module to the latest release of Humhub (1.4.3), Humhub crashes on the reload of the page. After that you can't possibly get into Humhub anymore. It gives you the above error on reload. Only thing I could do was reinstall Humhub... unfortunately I didn't copy the errorlog for you. :-(

[2020-03-26 23:03] buddh4 commented on #175
Which PHP and Mysql version are you running? Also as mentioned before run `show engine innodb status` and check for `LATEST FOREIGN KEY ERROR`.

[2020-03-27 08:56] GertuZz commented on #175
PHP: 7.0.33
Mysql:  5.7.29
No LATEST FOREIGN KEY ERROR output....

[2020-03-27 09:19] GertuZz commented on #175
LATEST FOREIGN KEY ERROR
------------------------
FOREIGN KEY ERROR:
2020-03-27 10:17:39 0x7f33f809b700  Cannot drop table `xxx`.`calendar_reminder`
because it is referenced by `xxx`.`calendar_reminder_sent`

I xxx'ed out the name of my table ;-)

[2020-03-27 09:34] buddh4 commented on #175
Was there the same foreign key error as mentioned above right after the module installation? Can you make sure that all your tables are `InnoDB`

[code]

[2020-03-27 09:46] GertuZz commented on #175
All tables are InnoDB.

[2020-03-27 10:30] buddh4 commented on #175
Thanks for the information so far, in case you'll try the installation again check the logs right after the module installation. Either under `Administration -> Information -> Logging` or `/protected/runtime/logs/app.log`. Unfortunately I can't reproduce the issue in any test environment. In case its the same foreign key issue, you should be able to comment out the foreign key in https://github.co

[2020-03-27 11:33] GertuZz commented on #175
Just installed it once again for your reproduction:

yii\base\ErrorException: humhub\modules\calendar\Events::registerAutoloader(): Failed opening required '/var/www/html3/protected/modules/humhub-modules-calendar-master/vendor/autoload.php' (include_path='.:/usr/share/php') in /var/www/html3/protected/modules/humhub-modules-calendar-master/Events.php:55
Stack trace:
#0 [internal function]: yii\ba

[2020-03-27 11:36] buddh4 commented on #175
Did you install by git? Then you'll have to run `composer install` within the module root. Sorry, this is missing in the readme.

[2020-03-27 11:36] GertuZz commented on #175
the folder Vendor is missing

[2020-03-27 11:47] buddh4 commented on #175
I've added the install instructions to the readme. In case you do not run a development environment I'd suggest using the marketplace version. I've also added the full package to https://github.com/humhub/humhub-modules-calendar/releases/tag/v1.0.7 (calendar.zip)

[2020-03-27 11:47] #175 closed

[2020-03-27 12:53] GertuZz commented on #175
The attached calendar.zip file works great. Thanks!

[2020-03-29 19:16] stoneubi opened #177 "Time mismatch"
At my hosted shared server with the latest humhub 1.4.4. version and the latest calendar version 1.0.7 I do have the following time mismatch:
* in humhub at settings tab +2 UTC Europe/Vienna is selected
* at the user profile tab same time zone is selected
* once a new calendar entry is created and the whole day check box is de-selected to enter a custom time from and to the time will be overwritte

[2020-04-03 10:56] buddh4 commented on #177
- What is your server timezone?
- Do you have the same server timezone configured in `Administration -> Settings`?
- When creating a post, is the post time right (e.g. `less than a minute ago`)

[2020-04-03 12:38] stoneubi commented on #177
Here are the answers:
* server timezone is UTC0
* no, the timezone at the Administration -> Settings ist UTC +2 Vienna
* yes, the time is correct. It shows "vor wenigen Sekunden" which means just a few seconds ago

[2020-04-03 12:46] buddh4 commented on #177
You should align your HumHub timezone with server timezone. I assume the post time is correct since your mysql server uses the right timezone. So check the following settings:

Mysql timezone = HumHub timezone = PHP/Server timezone

[2020-04-03 16:28] luke- commented on #177
See also: https://docs.humhub.org/docs/admin/installation#time-zone

[2020-04-20 15:17] luke- opened #178 "Space Admin/Owner can not access container config"
e.g. a Space owner cannot access the calendar catgories on space level.

[2020-04-20 15:43] #178 closed

[2020-04-21 07:47] jotamanso opened #179 "Get a permalink to a specific date of the calendar"
And preferably in a certain view mode.

For example, the ability to get the link for April 25th in Day mode.

[2020-04-23 09:48] Oremountainflorian opened #180 "[Bug] Event type color doesn't update when being changed"
**Problem description**

When we started using HumHub we created 5 calendar event types. With our growing project we faced the necessity to update the color sheme because it wasn't well done. Doing so, we faced some problems. Unfortunately the already created calendar events take over the new event type tag and tag color, but they don't update the new color as well in the stream (vertical line) as

[2020-04-23 10:23] Oremountainflorian opened #181 "[Enhancement] Make event types rearrangeable via drag and drop"
**Description**

When we started with HumHub, we created 5 event types (et1, et2, et3, et4, et5) for the calendar module. With our growing project, we faced the necessity of adding 5 more event types (et6, et7, et8, et9, et10). At the moment, it's only possible to add them subsequently

`et1, et2, et3, et4, et5, et6, et7, et8, et9, et10`

What we like to have is to arrange them like

`et1, et6, et

[2020-05-01 17:14] Blackg966 opened #182 "Location save"
Hi, I'm trying to save the location of an event.
I added the input field:

`<? = $ form-> field ($ calendarEntryForm-> entry, 'location') -> textInput (['placeholder' => Yii :: t ('CalendarModule.base', 'Location'), 'pluginOptions' => ['maxHeight' => '300px']]) -> label (false)?>`

It appears and I can change its value, but it is not saved in the database and I cannot find its column.
How can I so

[2020-05-02 08:51] micoots opened #183 "CSP Refused to load font"
Hi,

When I go to the Calendar module, my CSP blocks this and I can't figure out how to allow it:

`index:1 Refused to load the font 'data:application/x-font-ttf;charset=utf-8;base64,_veryveryveryverylongstring_=' because it violates the following Content Security Policy directive: "font-src 'self'".`

Please advise. Thank you.

[2020-05-05 13:34] buddh4 opened #184 "Add rrule for last day of month"
https://stackoverflow.com/questions/35757778/rrule-for-repeating-monthly-on-the-31st-or-closest-day

[2020-05-05 14:41] buddh4 commented on #183
The error can be ignored, the font is shipped with the default fullcalendar style and contains icons which are not in use. Nontheless I'll keep the issue open, perhaps we can somehow overwrite or remove the font from our style in a future version.

[2020-05-06 13:27] #176 closed

[2020-05-06 18:12] buddh4 opened #185 "Recurrent event root is visible in stream"
The recurrent event root should not be added to the stream. We should also automatically create the upcoming recurrent event content.

[2020-05-09 14:14] buddh4 opened #186 "Make ICS Organizer field optional"
In order to prevent leaking the organizer mail address, the organizer field should only be included if explecetly enabled.

E.g. by config:

[code]

[2020-05-09 14:18] #186 closed

[2020-06-08 09:49] AdrienEnercoop opened #187 "Filter for email summaries"
Hi,

Currently in the daily/weekly email summary, calendar events appear systematically (or they are part of "content" which is quite broad).
It would be great to have a filter because it's not always interesting to see that X or Y has answered "maybe" to this or that event.

Best,
Adrien

[2020-06-30 08:34] pgeorgiadis opened #188 "Topics label in the CalendarEntryForm does not get translated"
Hello,

There is no label defined in the `attributeLabels()` method of `CalendarEntryForm`, so although an automatically generated label is shown, there is no translation for that label in the form.

Adding a `'topics' => Yii::t('TopicModule.base', 'Topics')` in the `attributeLabels()` in the file `models/forms/CalendarEntryForm.php` file should solve that issue.

[2020-07-09 13:11] Semir1212 opened #189 "Public flag overwrites Space permissions"
Users are able to create public calendar entries without the permission to create public content.

HH 1.5.2

[2020-07-20 16:05] kenthejr opened #192 "Calendar module constraint missing"
### What steps will reproduce the problem?

1. Create a calendar event
2. Accept the calendar event
3. Set up a reminder for the calendar event

### What is the expected result?

A calendar event with a reminder.

### What do you get instead?

The entire platform is locked up with a server error and the following DB validation error:

[code]

### Additional info
I've been running Humhub for almost

[2020-07-20 18:18] kenthejr commented on #192
I was actually going to close this one, but I decided to update with the detail of the other.

[2020-07-20 21:18] MasterMindNET commented on #192
Hello, @kenthejr!

Could you please let me know which values I should specify to get the error?
Here is how I set up it:
![image](https://user-images.githubusercontent.com/22347676/87987156-d13dd280-cae6-11ea-9f12-320c44293105.png)

Best regards,
Roman

[2020-07-20 21:51] kenthejr commented on #192
I can't get to that screen anymore, but I did set a specific time of day. I believe the Reminder was set to custom and something like "1 day" or something like that. I did set up to recur every month on the same Sunday of each month. I'm not sure if that made a difference.

One thing I did update after setting the calendar item and reminder is I updated the server time from Pacific to UTC (because

[2020-07-21 02:58] MasterMindNET commented on #192
Good day!

Thank you so much for your detailed description, I will take it
into consideration.

Best regards,
Roman

On Tue, Jul 21, 2020, 12:51 AM Ken Anderson <notifications@github.com>
wrote:

[2020-07-21 04:05] kenthejr commented on #192
This may be relevant https://github.com/yiisoft/yii2/issues/18171

[2020-07-21 04:28] kenthejr commented on #192
Okay...in the `protected/config/dynamic.php` file I edited the `db` section to:

[code]

This seemed to fix part of the problem. I can now run `php yii integrity/run` and all integrity tests pass.

New problem though. Now I'm getting a jobCount undefined index error:

[code]

[2020-07-21 04:38] kenthejr commented on #192
Okay...this could be me...I deleted the entry in `calendar_reminder` that I thought was the original problem. I'm guessing that when it generates my dashboard view it now breaks again because it can't find the activity of me setting a reminder. Is there a way to reset everyone's dashboard without erasing everything that is there?

[2020-07-21 05:15] kenthejr commented on #192
Okay...I'm 90% sure this is my activity stream. I deleted the calendar reminder in the `calendar_reminder` table which broke the index for my activity stream on my dashboard. Is there a way to correct that?

It seems that there is still a requirement to set PDO::CASE_LOWER to make Humhub work w/ the latest MySQL version, but it's clear that I broke my own activity stream (and no one else's).

[2020-07-21 09:56] buddh4 commented on #192
Is there only the `integrity` check error or or are there errors when accessing your network? If yes, which errors are logged when trying to access the network. If you can't access the admin interface anymre you can also check the [log file](https://docs.humhub.org/docs/about/support#errors-and-logs)

[2020-07-21 18:21] kenthejr commented on #192
After changing the lower case setting, integrity passes. Admin interface logs now show:
[code]

[2020-07-22 10:44] buddh4 commented on #182
There is no calendar entry location field yet.

[2020-07-22 10:45] #177 closed

[2020-07-22 16:40] #189 closed

[2020-07-23 07:00] kenthejr commented on #192
Is there a way to rebuild / fix that index so I can see my dashboard again?

[2020-07-23 07:20] MasterMindNET commented on #192
Good day, @kenthejr!

Did you try to clear the cache?
It can be done in the console from your `protected` folder.
just type or copy this command:
`php yii cache/flush-all`

Let me know if this helps.
If this does not help, please let us know this and we will proceed with further investigation.
You have also mentioned, you have got the same error, but which one of them, please quote it or add it, h

[2020-07-23 15:57] kenthejr commented on #192
That did not work. Same error.

[2020-07-24 06:20] Rebootcodesoft opened #193 "Multi-day event error"
For a multi-day event, when the first day begins, more posts will appear in the feed.
The event entry on the wall is repeated many times, there will be more and more.

[2020-07-24 15:27] luke- commented on #192
Can you please run, following two commands and post the result:
https://github.com/humhub/documentation/blob/master/docs/admin/troubleshooting.md#data-integrity

[2020-07-24 16:41] kenthejr commented on #192
I just ran that but still no luck.

![Screen Shot 2020-07-24 at 9 40 46 AM](https://user-images.githubusercontent.com/183395/88414538-e1c5a580-cd91-11ea-903e-e15aa8b1236e.png)

[2020-07-24 16:51] luke- commented on #192
Can you please post the result of the commands? Are all migrations up to date?

[2020-07-24 16:56] kenthejr commented on #192
![Screen Shot 2020-07-24 at 9 54 53 AM](https://user-images.githubusercontent.com/183395/88415799-f1de8480-cd93-11ea-88d8-0b02dc8d1389.png)

[2020-07-30 09:07] buddh4 commented on #192
Core issue related to 8.0.21  Mysql https://github.com/humhub/humhub/issues/4287

[2020-07-30 09:07] #192 closed

[2020-07-30 09:12] buddh4 commented on #193
You mean recurring events?

[2020-07-30 09:21] Rebootcodesoft commented on #193
Yes. Every year 5 days.

[2020-07-30 09:22] buddh4 commented on #193
Do you have any reminder set for this event or any default reminder in the space?

[2020-07-30 09:35] Rebootcodesoft commented on #193
- I not set any reminder, only added the event
- yes.

[2020-07-30 11:59] #193 closed

[2020-07-31 11:58] buddh4 opened #194 "Better recurrence instance handling and wallentry management."
### Recurring root event wallentry

In the latest version I've removed the wallentry of recurrent root events, since the wallentry of the recurrent root event is identical to the wallentry of the first instance. A recurring root event wallentry should rather contain information as:

`xy created a recurring event starting at xy repeating every year`

E.g. by using https://github.com/simshaun/recurr

[2020-07-31 12:17] buddh4 opened #195 "Add drag support for recurring events."

[2020-08-04 07:29] olantrust commented on #195
Duplicate of #169 ?

[2020-08-04 07:42] olantrust opened #196 "Improve calendar selection"
This relates to the main calendar view (the one a User can select from the main menu bar, and which can show all calendars).

In that view, the User can filter which calendars and events to show in the view.

The current arrangement lacks granularity, the User cannot select to view calendars from individual spaces, the User has no control over the viewing of Task calendars, tasks, or birthdays.

P

[2020-08-04 10:54] buddh4 commented on #195
Thanks for the note.

[2020-08-04 10:54] #195 closed

[2020-08-06 10:47] tomofu74 opened #197 ""Error" is displayed when trying to enter a calendar event for a space where the calendar module is not enabled."
"405 Error" is displayed when trying to enter a calendar event for a space where the calendar module is not enabled.
I don't think that would be kind for non administrative users. I want a caution dialog to be displayed, not an error message.

humhub 1.6.2 (production mode)
Calender module 1.0.12
PHP 7.4
Ubuntu20.04

![スクリーンショット 2020-08-06 19 43 48](https://user-images.githubusercontent.com/191620

[2020-08-06 12:03] buddh4 commented on #197
You should not be able to create a calendar entry on spaces the module is not enabled. If you managed to create a calendar entry in such a space let me know how, since this would be the actual bug.

[2020-08-06 12:09] #185 closed

[2020-08-14 09:57] luke- opened #198 "Recurrence & max. Participants not checked"
To Reproduce:
- Create a new calendar item with recurrence with max. 1 participant
- Attend with more than one user

Note: The issue don't occur on non recurrent entries.

[2020-09-14 16:56] buddh4 commented on #198
Hmm either we need to copy the participation settings, or just use the recurrence root in the validation.

[2020-09-29 15:37] smashm opened #200 "On mobile not possibly to make a new calendar entry"
- On mobile (Samsung x-cover 4) it is not possible to make a new calendar entry. Nothing happening at all when touching screen on top of a calendar square.

- I can reproduce the mistake (Android 8, Xperia), no matter if monthly, weekly or daily view.
HumHub 1.6.3, Calendar 1.0.12

See original comments on: https://community.humhub.com/content/perma?id=226365

[2020-09-29 15:58] buddh4 commented on #200
Have you tried pressing it for longer time?

[2020-09-29 16:22] smashm commented on #200
Thank you for your advice. So I had it on my mind and tried it before i wrote the comment. There was only a really short vibration feedback, but nothing more. Now I tried it again und it does what it should do.

I tried it a few times more, in ca. 1 of 15 or 20 times nothing happend, when i move the fingertip very, very slow just a little bit after the vibration feedback. Don't know, what went wro

[2020-09-30 10:58] buddh4 opened #201 "Remove default "I'am participating" filter."
Currently the filter "I'am participating" is active by default. This may be confusing, all events should be rendered by default.

[2020-09-30 11:59] buddh4 opened #202 "Better add event behavior on mobile"
Currently users have to press on a day for a certain duration in order to add new events. This may not be intuitive for some users. Suggested solutions:

- Check https://fullcalendar.io/ for alternatives
- Add a create event button for mobile view

[2020-09-30 12:23] #200 closed

[2020-10-15 12:00] JK742020 opened #205 "E-Mail Notification with Link"
If I invite people via calendar including reminder for a videoconference I would prefer to have the link for the meeting which I placed in the text to be shown in the E-Mail notification too. If not there is one more step to do, in detail enter the meeting by opening HumHum and then click the link.

[2020-10-15 12:42] JK742020 opened #206 "display more than one month/week/day, load while scrolling down"
Like in the stream it would be great to see the next month been loaded when scrolling down.
This could be an option in the settings:
one month display with arrows to skip to the next one
load while scrolling down

[2020-10-15 12:46] JK742020 opened #207 "deal with double/tripple events if the same event is published in different space calendars"
If there are i.e. three spaces where I want the same event to be published those events will be listet three times in the Upcomming-Event-Snippet on the dashboard and in the main calendar.

Would be great to only see it once.

[2020-10-15 14:06] luke- opened #208 "Wall Stream Layout Migration - HumHub 1.7"

[2020-10-15 14:23] buddh4 commented on #207
There definetly should only be one event created by one space. Perhaps spaces should be able to add events from other spaces (only in the calendar view) for this use-case. Also public events should be visible in the global calendar (not sure if this is the case at the moment).

[2020-10-15 15:15] JK742020 commented on #207
To add events from other spaces (only in calendar view) seems to be a really good workaround. In the community there are some posts asking for a workaround like this.

Maybe this could be implemented in an upcoming release!

There could be one more tab besides the 4 ones existing at the moment. Something like "publish in other spaces too" or "duplicate event". Maybe offer a pulldown to chose the d

[2020-10-15 15:23] JK742020 commented on #207
To be able to add events from other spaces (only in the calendar view) seems to be a really good workaround!

Maybe this could be part of a new release.

When creating a new event there could be one more tab (besides the 4 existing at the moment). Something like "publish in another space too" or named different. There could be a pulldown where the existing spaces are offered or there is just an en

[2020-10-16 12:09] #198 closed

[2020-10-17 09:54] #3 closed

[2020-10-22 10:33] luke- opened #210 "Click on Birthday Event in Snippet reloads stream"
Expected: Go to User Profile

https://github.com/humhub-contrib/birthday/issues/24

[2020-10-30 22:00] verement opened #211 "Unable to move events to another space"
It used to be possible to move an event to another space using the “Move content” item from the content chevron menu.

In the current version (Calendar 1.0.13, HumHub 1.6.4) choosing this menu item shows an empty dialog.

<img width="604" alt="Screen Shot 2020-10-30 at 2 57 11 PM" src="https://user-images.githubusercontent.com/710176/97760373-3e86d980-1ac0-11eb-891d-a443fd699204.png">

[2020-11-02 08:54] luke- opened #212 "Wall Entry Design Rework"
See draft: https://github.com/humhub/tasks/issues/10#issuecomment-720098746

[2020-11-02 13:09] #210 closed

[2020-11-02 14:34] buddh4 opened #213 "Modal editing not working in v1.1.0"

[2020-11-02 15:20] #213 closed

[2020-11-02 15:22] buddh4 commented on #212
Added current state https://github.com/humhub/tasks/issues/10#issuecomment-720098746 , we should not wait too long for the release, since current marketplace version breaks edit logic in stream.

[2020-11-02 15:38] #211 closed

[2020-11-02 15:38] buddh4 commented on #208
https://github.com/humhub/humhub-modules-calendar/issues/212

[2020-11-02 15:38] #208 closed

[2020-11-02 15:40] #188 closed

[2020-11-02 15:51] #166 closed

[2020-11-02 16:08] #99 closed

[2020-11-02 19:08] buddh4 opened #214 "Enhanced filters"
- Filter by calendar entry type
- Filter by calendar type (meeting/birthday...)
- Filter by topic
- Filter by author

[2020-11-02 19:23] buddh4 opened #215 "Remove read more on detail view"

[2020-11-04 20:51] uschleg opened #216 "Calendar error after update 1.7.0"
After the Update to Version: 1.7.0, which ran without problems, there was an error message when updating the modules. The module can no longer be installed. Now some Spaces cannot be opened and the message: "An internal error has occurred" appears.

| HumHub version   | 1.7.0
| PHP version      | 7.4.11
| Operating system |

**application**
yii\base\Exception: Could not get contents underlying obj

[2020-11-05 09:19] funkycram opened #217 "Recurring events every month starting the 5th week of the month"
### Steps to reproduce

Create a recurring event every month starting the 5th week of the month
In the recurrence tab, choose this:
![image](https://user-images.githubusercontent.com/23310825/98221484-f9472980-1f4f-11eb-9f38-064a2f287169.png)

First problem: it shows "Monthly on the first friday".
It should show: "Monthly on the last friday".

In the database, table `calendar_entry`, field `rrule`

[2020-11-05 09:42] buddh4 commented on #216
- Could you check if this is really the first error thrown related to this problem, I assume this perhaps was logged after you've tried to deinstall the module?
- Which PHP version are you using
- Are you running in [Production Mode](https://docs.humhub.org/docs/admin/security#enable-production-mode)?
- Have you tried to run the [Integrity Check](https://docs.humhub.org/docs/admin/troubleshooting#

[2020-11-05 10:11] buddh4 commented on #217
I think this specific rrule is not possible at the moment. The form can be read as follows:

Repeat every x Months, on the first Friday.

or

Repeat every x Months, on day y of the month.

Feel free to think about a form layout which would match your requirment. But generally there are a ton of possible rrules which can not be expressed by the current form and its rather hard to cover all. As I un

[2020-11-05 10:15] buddh4 commented on #217
Ok, the problem is that when chainging the date in the calendar form, the monthly recurrence form does not align with the currently selected date.

[2020-11-05 10:21] funkycram commented on #217
Create an event on April 30, 2021.
Click on the recurrence tab and choose Month.
You will see the option "Monthly on the first Friday" which is is not good.

[2020-11-05 10:29] buddh4 commented on #217
Ah, sorry thought the 5th week was just an example.

[2020-11-05 10:33] uschleg commented on #216
Many thanks for the information. The error message occurred during the update of the calendar module and could not be installed afterwards.

I have now removed the calendar module via the humhub installation and reinstalled it.

It looks like everything works fine again.

[2020-11-05 14:51] #217 closed

[2020-11-05 15:10] funkycram commented on #217
That's a really quick fix!! Thanks!

[2020-11-05 16:10] #216 closed

[2020-11-06 14:01] luke- opened #218 "Snippet default sort"
The default snippet sort should not be 0

Default: 300

[2020-11-06 14:01] luke- commented on #218
This should also use the SortOrder Form Field which is available with HumHub 1.6+

[2020-12-08 14:06] #212 closed

[2020-12-09 08:45] c-nv-s opened #219 "enhancement - UI - upcoming events or events stream on mobile"
### Is your feature request related to a problem? Please describe.
As a user of humhub it would be nice to have an easier way to browse the upcoming and maybe also historical details of a spaces' events from the mobile view.
The value added would be that users would have an alternate way ( other than the rather un-intuitive filter option ) to glance at details of upcoming events on the mobile view

[2020-12-18 13:50] klauswagner opened #220 "Translation: Participants not translated"
Default language is set to german. But the calendar module (version 1.1.3) shows "Participants" instead of "Teilnehmer".

![image](https://user-images.githubusercontent.com/7679272/102621419-cc398980-413f-11eb-9ebc-f8b989b00b67.png)

Humhub-Version: 1.7.1

[2020-12-18 15:26] luke- commented on #220
Will be fixed with next module release.
https://github.com/humhub/humhub-modules-calendar/commit/19afe76111bba1782fa186c5ff5e84a7b84895a7

[2020-12-18 15:26] #220 closed

[2021-01-25 00:46] olantrust commented on #182
Location seems to be available now? :)
Close? @buddh4

[2021-01-25 01:22] olantrust opened #222 "Option to choose what info to show in calendar view"
Currently one can only see event title.

It would be good to have a setting to determine what to show in calendar view - e.g. Topics, Location...

[2021-01-25 11:54] Oremountainflorian opened #223 "Option to set default target calendar"
**Problem description**

Hi everyone, in our organisation it happens over and over again that users accidentally create events in their profile calendar because this is displayed as the default option, even if this is a "public event" which they want to publish in the main calendar. The reason is that not so experienced users don't get the difference between all the calendars and where which calen

[2021-01-25 12:01] Oremountainflorian opened #224 "[Bug] Disabled space calendars are shown in target calendar selection"
**Problem description**

When a space was (accidentially) created with the calendar module (or it was added later on) and you then disable the module as you notice that you don't need it, the disabled calendar name is still listed in the target calendar selection. It would be really happy if this small bug was fixed as it confuses our users. Thank you really much in advance!

**System**

HumHub Ve

[2021-01-25 12:26] luke- commented on #182
https://github.com/humhub/humhub-modules-calendar/blob/master/docs/CHANGELOG.md#1013-october-16-2020

[2021-01-25 12:26] #182 closed

[2021-01-25 12:42] luke- commented on #223
Maybe it would also be a possibility not to activate the user calendar by default?

[2021-01-25 12:48] spoorun commented on #223
We use the User calendars too.

We would love the option in settings to not provide a default at all, so if the User is creating an event from the Global calendar, they are forced to choose correctly.

[2021-01-25 12:48] Oremountainflorian commented on #223
@luke- Would be a workaround in combination with the fix of https://github.com/humhub/humhub-modules-calendar/issues/224

Could you please tell me how to disable the user calendar by default? I have been searching for some minutes but couldn't find it...

[2021-01-25 12:54] Oremountainflorian commented on #223
I don't perfectly understand what you're saying, so you also would like to see the option to set a default target calendar in the calendar options?!

[2021-01-25 12:55] luke- commented on #223
@Oremountainflorian Seems the user calendars are enabled at: Administration -> Modules -> Calendar -> Set default

[2021-01-25 12:56] luke- commented on #223
No pre-selected default calendar would also be a good solution.

[2021-01-25 13:24] Oremountainflorian commented on #223
Interestingly, I just had a look and the user calendar was already disabled by default! This was different one year ago, so someone changed this.

Anyways, even if the profile calendar is disabled, I just simulated the profile of a new user via admininstration > users and also for the new user the calendar is displayed as default target calendar (when creating a new event) even if he/she doesn't h

[2021-01-25 13:34] luke- commented on #223
Ok the profile calendar option should in my opinion only be available if available.

[2021-01-25 13:49] spoorun commented on #223
Sorry for lack of clarity. I was suggesting that there could an option to have no default, so the User would be forced to manually select an appropriate Calendar each time.

(Of course, this only affects the Global calendar, in Spaces or their Profile they would automatically use the appropriate calendar.)

[2021-01-27 10:28] luke- commented on #224
https://github.com/humhub/humhub-modules-calendar/pull/225

[2021-01-27 10:28] #224 closed

[2021-02-03 17:12] superseby2 opened #226 "Calendar Reminder"
On our events,

Everyone is receving a reminder even if they did not register.

It would be nice to have an option to notify only registered persons who are the primary concerned.

Thanx!

[2021-02-05 08:11] buddh4 commented on #226
Can you give some steps how to reproduce e.g.:

- Profile event or event in a space
- What is the participant mode in the space
- Do you have set a default reminder

[2021-02-05 08:20] buddh4 commented on #226
Currently the reminder is handled as followed:

Space Event:

 - No participants: All space members are reminded
 - Everyone can participate: Only accepted (and maybe) participants get reminded

User Event:

 - No participants: Only me
 - Everyone can participate: Me and all participants

Also there are user level reminder, if a user manually sets a reminder for an event.

[2021-02-05 08:31] superseby2 commented on #226
Thx for your response !

Do you mean an event in a profile or a space
- it is an event in a Space

What is the participation mode in the space
- Participation mode was : Everybody can participate

Do you have set a default reminder

yes  . Default reminder was set to 3 days / 1 day / 1 hour before the event.
That's when I realized 3 days before that everyone (about 30 people) got a reminder while

[2021-02-05 08:38] buddh4 commented on #226
Which

- HumHub Version `Administration -> Information`
- Module Version `Administration -> Modules`

are you using?

[2021-02-05 08:41] superseby2 commented on #226
Here you go :

- HumHub  Community Edition
Version: 1.7.1

- Calendar for spaces or user profiles.
Version: 1.1.3 ·

[2021-02-05 08:46] superseby2 commented on #226
On a side note : when realizing too many people got notified I promply set the reminder to Never. I must have done that from the General Calendar settings of the space I was in (not from the Calendar Event form). THen this morning I realized I could not see the Reminder Tab in my events. Which seem OK but maybe a message specifying that Reminders have been set to Never by default would be interest

[2021-02-05 09:15] buddh4 commented on #226
You can define:

- Global default reminder `Administration -> Modules -> Calendar -> Config`
- Space level default reminder `Space -> Modules -> Config` (will overwrite global default)
- Entry level reminder will overwrite space default reminder (will overwrite defaults above)
- User level reminder will overwrite the defaults above (user manually sets a reminder for an entry)

[2021-02-05 13:20] superseby2 commented on #226
Thanks for the clarification. And thanks for working on the issue :pray:

[2021-02-11 09:22] chymian opened #228 "Calendar Times are shown in Server-timezone not configured event-timezone"
Using the cloud-version at humhub.com with UTC-1 (fixed).
Version: 1.7.2
Calendar: 1.1.4

when a event is added with timezone i.e. (asia/bangkog UTC-7)
start at 4:30 pm
stop at 12:00 am

![HUMHUB-event-settings_2021-02-11_10-09](https://user-images.githubusercontent.com/1899961/107618359-bdf47f00-6c51-11eb-92c6-acef87680119.png)

it is displayed with (server-timezone)  as
start: 10:30 am
stop 06:p

[2021-02-11 12:35] luke- commented on #228
@chymian In my quick test, it seems that UTC was used as the time zone for the Guest user.

For the registered user who has also selected Bangkok as time zone (User Settings -> Settings -> Time Zone), the time is correctly displayed.

Can you please describe the wrong behavior for the user "with Country-settings"?

[2021-02-11 14:02] chymian commented on #228
@luke-

and there a way to change this?

I have't found that, as I was assuming that is on the profile page. sry.
now it's displayed correct.

why are country & time-zone settings at  two totally different places to configure? that is confusing (as we have experienced ;)

so, all good.
thx for the fast reply lucas,
no an schenen & servus aus laos

[2021-02-11 14:12] chymian commented on #228
suggestion:
make the default timezone configurable.
- for spaces
- whole app
  which is pbl. done by the server-time-settings, if one uses a self-hosted version.
-> but even then, as sysadmin's best practice, I run all my servers worldwide with TZ=UTC due to centralized log & other analytic software to have the same timestamp on events, which often reaches out to other timezones

[2021-02-12 09:26] luke- commented on #228
Thank you for the suggestion. A separate time zone per Space adds probably too much complexity.

I've added a new issue for this:
https://github.com/humhub/humhub/issues/4871

[2021-02-12 09:26] #228 closed

[2021-02-16 04:40] superseby2 commented on #226
Have you been able to reproduce the problem?

Thx!

[2021-02-16 15:46] buddh4 commented on #226
No sorry, hope I'll find the time this week.

[2021-02-18 14:54] #226 closed

[2021-02-18 15:03] buddh4 commented on #226
Thanks for reporting should be fixed in the latest module version.

[2021-02-18 16:39] superseby2 commented on #226
Thanks to you for fixing so quickly. You rock!

[2021-02-22 14:56] buddh4 opened #230 "Align dashboard snippet with global calendar (without filters)"
Currently the dashboad snippet includes other results as the global calendar e.g. birthdays are missing.

[2021-02-22 15:34] buddh4 commented on #230
https://github.com/humhub/humhub-modules-calendar/commit/2f7f5975aa91cdcda6e351cfb43cae2b40174812

[2021-02-22 15:34] #230 closed

[2021-02-23 13:59] Oremountainflorian commented on #223
Any news on that? I guess there isn't too much effort to implement this... I really missed this change within the last calendar version update. Almost daily I have to explain it to users which target calendar to choose, because they wonder why others can't see the events they created.

[2021-03-05 15:09] Oremountainflorian opened #231 "Change Category Order"
**What's the matter and why?**
Until now, it's not possible to change the category order and the categories are just sorted alphabetically. So it's not possible to group categories for example thematically (and grouped by colour).

![grafik](https://user-images.githubusercontent.com/44228345/110132226-3bcc2600-7dcb-11eb-86c6-f166e63d8896.png)

**Possible solutions**
- make categories movable via d

[2021-03-16 09:26] yurabakhtin commented on #218
@luke-

PR https://github.com/humhub/humhub-modules-calendar/pull/232

I don't understand what is required here, it seems the SortOrder is already used, if no please let me know where it should be used else, thanks.

[2021-03-16 10:01] luke- commented on #218
@yurabakhtin Perfect, works as intended. Thanks!

[2021-03-16 10:01] #218 closed

[2021-03-19 12:48] Oremountainflorian opened #233 "Events don't appear in calendar snippet"
### Problem description
In our main space, we have a very full calendar with many events of different categories. Unfortunately, in the snippet on the right of the stream of this space, just one recurrent event series of one category is displayed.

### Expected behaviour
Not just the one recurrent event, but the next cronological events should appear.

### Screenshots
Almost empty snippet with jus

[2021-03-19 15:14] Oremountainflorian opened #234 "Prevent recurrent events from recurringly creating post in the stream"
### Problem description
For all recurrent events, some hours before the next event takes place, a post in the stream is automatially created. We have many recurrent events so this completely overruns the other content in the stream... :/

### Possible Solution
When creating a recurrent event, we could provide an option (simple box to tick/untick) whether to automatically create a post in the strea

[2021-03-22 07:05] yurabakhtin commented on #233
@Oremountainflorian Did you do the 2 screenshots by same user?

I have tested and reviewed the code and it seems only the event "18:30 Plenum" is public and you see the calendar snippet by not member of the space:

<img width="959" alt="tests_event" src="https://user-images.githubusercontent.com/6995524/111952315-0119fb80-8af6-11eb-8c7d-567464d2762c.png">

Could you please show us options of the e

[2021-03-22 11:32] Oremountainflorian commented on #233
@yurabakhtin Yes, I did both screenshots with the same user who has admin status/rights. I also simulated other users without admin status, but it looks exactly the same.

Also I checked the options of the event "Plenum" and other events. Exactly the same. Here you can see the settings which we use for all events

![image](https://user-images.githubusercontent.com/44228345/111983178-2284e280-8b0a-

[2021-03-23 05:03] yurabakhtin commented on #233
@luke- I again reviewed the code and retested different settings and no idea how the events may be filtered.
Possible small reason is even type is disabled.
Probably you better know what additional filters may be applied for the calendar events?
For example, I find trigger `CalendarService::EVENT_FIND_ITEMS = 'findItems'` that is used at least in 3 other modules like "Tasks", "External Calendar",

[2021-03-23 09:38] luke- commented on #233
@yurabakhtin Thank you for the analysis.

@Oremountainflorian Unfortunately, we can't reproduce the problem either. For me, the calendar widget works correctly even with recurring events. However, in your initial post you showed a screenshot of a Space widget, but the second screenshot is not related to any Space.

Can you maybe try again to reproduce the bug (if you want also in our hosting) and

[2021-03-23 10:14] Oremountainflorian commented on #233
@yurabakhtin and @luke-

Sorry for the confusion, but the second screenshot in the inital post is related to our main space (as the shown snippet in the first screenshot does either). Here comes another screenshot which clearly showes this.

![Space-Calendar](https://user-images.githubusercontent.com/44228345/112130522-dcdb1f00-8bc8-11eb-9696-1e841d69c5c3.png)

[2021-05-10 13:37] Bexolo opened #240 "Adding events on calendar from mobile not working"
### Issue
I am testing out the calendar module, and have noticed that you cannot add calendar events from mobile by tapping on the appropriate date in the calendar. This functionality works on desktop. Is this intentional or have I found an issue?

### Expected Behavior
I expect the 'add new event' dialogue to appear once a given date has been tapped, however, this does not appear to display.

iPh

[2021-05-13 00:34] Bexolo opened #241 ""I'm attending" filter checkbox functionality not working for reoccuring events"
The calendar's "I'm attending" checkbox functionality is not working correctly with reoccurring events.

A user is attending an event on the 12th, called "Heal your inner child" marked in green, which is a weekly reoccurring. The user has stated that they are 'attending' the event on the 12th. However, when you check the "I'm attending" filter on the calendar, this event does not get displayed as

[2021-05-20 12:31] luke- opened #243 "CLI Error when no REST module is installed"
[code]

[2021-05-25 14:52] luke- commented on #243
@yurabakhtin  The problem really only seems to affect console commands that cannot be resolved.

Nevertheless, the following output should be generated:

[code]

Currently:

[code]

[2021-05-26 09:39] yurabakhtin commented on #243
@luke- I have fixed this for 4 modules, please see mentioned PRs above.

For me it looks like this:

<img width="1297" alt="unknown_command" src="https://user-images.githubusercontent.com/6995524/119638424-4e308b80-be1f-11eb-84a5-cea8ac898b7b.png">

I don't think we should fix the `Exception 'yii\base\InvalidRouteException'`.

[2021-05-26 11:23] luke- commented on #243
@yurabakhtin Thanks for the fixes! Can you please add this workaround also here: https://github.com/humhub/rest/blob/master/docs/DEVELOPER.md#other-module-support

[2021-05-26 11:24] yurabakhtin commented on #243
@luke- I found additional module where the REST API module is used - https://github.com/humhub/cfiles/pull/117, also I fixed all modules to use `master` branch instead of deleted `develop` of the REST module, see a change like this https://github.com/humhub/tasks/pull/157/commits/da03d0a3e7319620965954a9d4a00e798c9b7878#diff-acf3e0c6c881e3230ee20ea7499891845048d94362e17e496f06dafa7757f110R126, but

[2021-05-26 11:28] luke- commented on #243
@yurabakhtin It is probably due to the update here: https://github.com/humhub/humhub/commit/72ff0f4687acc9c1f847ab695dd67f3e1d894c2a

Sorry I forgot to inform you about it.

Can you adjust it?

[2021-05-26 11:35] yurabakhtin commented on #243
@luke-

Commit https://github.com/humhub/rest/commit/bc6834c23aff7b652c4dd0a06bc7f9ca36e7c576

[2021-05-26 11:53] yurabakhtin commented on #243
@luke-

Thanks for the info, it helped to fix.
PR https://github.com/humhub/calendar/pull/245

[2021-05-26 11:53] #243 closed

[2021-06-29 10:25] funkycram opened #246 "Enh: On event creation, show fields errors"
To reproduce:
Create an event, and, for example, leave the "End date" blank.
The event is not added and the form is show again because this field is mandatory, which is normal.
Bot no error message is shown and the field "End date" is not red.

[2021-06-30 13:20] yurabakhtin commented on #246
@funkycram @luke- Fixed in PR https://github.com/humhub/calendar/pull/247

[2021-07-01 09:09] luke- commented on #246
@yurabakhtin Thanks!

[2021-07-01 09:09] #246 closed

[2021-07-03 09:17] rowinggolfer commented on #240
Try a "Long press" incorporating a "side swipe".
I found this after much experimentation.
An "Add event button" would be a nice addition.

https://user-images.githubusercontent.com/1211485/124349605-c68d2800-dbe7-11eb-9f3a-8fe53b16cee5.mp4

[2021-07-06 13:21] Ariel505 opened #248 "Calendar install error"
Hello,
I followed the instruction on https://github.com/humhub/calendar/blob/master/docs/DEVELOPER.md and install calendar module.
after installation and enabled, when I configure, get this error message.

Invalid Configuration – yii\base\InvalidConfigException
Unknown component ID: humhub\modules\calendar\interfaces\CalendarService

 in /var/www/html/humhub/protected/vendor/yiisoft/yii2/di/Servic

[2021-07-07 09:27] luke- commented on #248
@Ariel505 Is there a reason why you're not using the module marketplace? Regarding the error, can you please try to flush the cache? (Administration -> Settings -> Advacned -> Caching -> FLush).

[2021-07-12 05:00] Ariel505 commented on #248
Dear Lucas,
The virtual machine is not connected to internet, the market place source url must first white list as safe sites in firewall configuration. Could you provide information about this? Thanks!
Best,
Ariel

[2021-07-13 09:03] luke- commented on #248
https://docs.humhub.org/docs/admin/modules#firewall--whitelist

[2021-07-13 09:03] #248 closed

[2021-07-14 06:51] Andre0383 opened #250 "Adding guests as participant"
We're using humhub to organize around a hundred members of special interesst group with galleries, tasks, wiki. it works fine and helpes a lot...

There are a number of certain events each year where members are attenting with their families so we used doodle to get an overview who will attend.

For internal (members only) events the calender-participation-feature ist just working fine because mem

[2021-07-29 14:03] Semir1212 opened #251 "Reminders are not sent"
HH 1.9.0
Calendar 1.1.10

Could not execute queued job! Message: unserialize(): Error at offset 3137 of 3320 bytes Trace:#0 /srv/humhub/protected/vendor/yiisoft/yii2-queue/src/Queue.php(230): yii\queue\Queue->unserializeMessage('O:53:"humhub\\mo...')
#1 /srv/humhub/protected/vendor/yiisoft/yii2-queue/src/cli/Queue.php(162): yii\queue\Queue->handleMessage('162140', 'O:53:"humhub\\mo...', '300', '1'

[2021-07-30 11:58] yurabakhtin commented on #251
@luke- @Semir1212 For me it works on HH 1.9.1 and Calendar 1.1.11:

![test_calendar_reminder](https://user-images.githubusercontent.com/6995524/127649278-57e496f6-d38c-43e5-a6fc-5d4d26f36c27.jpg)

I even cannot know where to start find the bug because the log doesn't show exact place related to the calendar code, I see only `humhub\mo...` but what exact file is hidden there after `mo...`?

[2021-08-03 16:48] luke- commented on #251
Can reproduce this either.  We will open it again if it occurs again.

[2021-08-03 16:48] #251 closed

[2021-08-16 08:59] funkycram commented on #187
https://github.com/humhub/calendar/pull/252

[2021-08-16 15:25] #187 closed

[2021-09-08 15:58] orangiene opened #254 "Stream entry icons: wrong colour"
![Bildschirmfoto 2021-09-08 um 17 57 39](https://user-images.githubusercontent.com/62644500/132543669-f5975085-6bbd-44fc-be30-9fb27959d7e5.png)

After using themebuilder the icon-colour for date, location and participants is wrong.

[2021-09-09 08:33] yurabakhtin commented on #254
@luke- I am not sure we should change the colors, please see what we use there:

<img width="1361" alt="calendar_colors" src="https://user-images.githubusercontent.com/6995524/132651261-1aad5bcb-d51d-4a93-b3dc-cc983d6b141b.png">

There is the code `$color = $calendarEntry->getColor() ? $calendarEntry->getColor() : $this->theme->variable('info');`.
I.e. the icons may have the red color from theme i

[2021-09-10 17:28] luke- commented on #254
@orangiene Should we use the calendar entry color here or always use the standard icon colors?

[2021-09-10 17:32] orangiene commented on #254
@luke- I would use the **standard icon colour** :)
With the calendar entry you mean the space colour, right? (in the screenshot above the turquoise colour)

[2021-09-13 10:07] luke- commented on #254
@yurabakhtin Can you please try to use the "Default" color for such icons?
![image](https://user-images.githubusercontent.com/4736168/133065579-4b7ebae6-19f5-4351-a278-25480e3c6664.png)

[2021-09-13 12:49] yurabakhtin commented on #254
@luke- PR https://github.com/humhub/calendar/pull/255, but please see on default theme the color is almost invisible:

<img width="675" alt="default_theme" src="https://user-images.githubusercontent.com/6995524/133085887-f09e9377-594a-41cb-8210-80b1d039e827.png">

Also I have detected the issue on updating the colors in DB from theme builder side:

<img width="855" alt="theme-builder-issue" src="h

[2021-09-13 12:53] luke- commented on #254
@yurabakhtin Yes, would be great if you fix this in theme builder. I think we need to use another grey color. @orangiene Is checking other color options...

[2021-09-13 12:55] orangiene commented on #254
HI @yurabakhtin,

could you please use the same colour we use for the tags ("events", "today")?
Should be #7B7B7B.
thank you :)

[2021-09-13 13:10] yurabakhtin commented on #254
@luke- @orangiene Commit https://github.com/humhub/calendar/pull/255/commits/915f24cad5f9b83626da67b9b33150e563bbcb7b:

<img width="665" alt="text-color-secondary" src="https://user-images.githubusercontent.com/6995524/133089415-e969e776-2f48-43fa-aea3-80df2d7e6c10.png">

[2021-09-13 14:00] yurabakhtin commented on #254
@luke-

PR https://git.humhub.org/modules/theme-builder/-/merge_requests/5

[2021-09-14 13:28] #254 closed

[2021-09-17 20:38] Benable commented on #233
@Oremountainflorian @luke- @yurabakhtin
Was this issue ever resolved? We have a similar issue with out forum widget not showing public events created within the calendar (using the forum calendar). Thanks!

![screenshot-hub e-nable org-2021 09 17-16_33_54](https://user-images.githubusercontent.com/90934823/133850577-6ab932d6-b042-44ad-a17d-56f6deb58806.png)

![screenshot-hub e-nable org-2021 09 17

[2021-09-20 07:47] yurabakhtin commented on #233
@Benable If your events are really public then it is strange because we still cannot reproduce this:

<img width="1229" alt="test_events" src="https://user-images.githubusercontent.com/6995524/133970492-16977e3f-ffdb-4dcb-9244-9a915aeec1ff.png">

[2021-09-20 12:37] Oremountainflorian commented on #233
@yurabakhtin Yes, as I mentioned before, all our events are public, but they still don't appear in the upcoming events snippet.

[2021-09-20 14:40] Benable commented on #233
@yurabakhtin - Thanks for the speedy reply.
Like @Oremountainflorian I am working with Public events that are not appearing in the widget, but are visable on the calendar. They were created to be public, and appear publicly. Not sure what the issue is.

![screenshot-hub e-nable org-2021 09 20-10_34_45](https://user-images.githubusercontent.com/90934823/134020872-e601bab8-fd70-4720-8dd5-c8bfeafd76a

[2021-09-23 10:02] yurabakhtin commented on #233
@luke- I retested this again and reviewed the code and unfortunately still cannot reproduce this on my side:

<img width="1104" alt="calendar_test" src="https://user-images.githubusercontent.com/6995524/134488896-4a8b1e3c-be1a-4d6a-8a46-49e04f3a3f5f.png">

[2021-09-23 11:45] luke- commented on #233
Hmm, @Benable Can you provide steps on our demo hosting to reproduce this error?

[2021-10-07 18:14] michaelh99 opened #257 "Edited recurring events don't show in the 'upcoming events' sidebar"
I have a recurring event that needs to have the description changed slightly every month and I've found that these events stop showing up in the event sidebar after one of them has been edited

[2021-10-18 09:09] smartens opened #258 "Public events don't show up on welcome page for non-registered users"
Public events are not displayed. When you set an event public, they are not displayed on the home page to non-registered users. However, as soon as one is logged in, the appointment is displayed.

![image](https://user-images.githubusercontent.com/898436/137701098-a2a42852-111e-427a-9c82-4e68d4f4e289.png)

Public posts work.

![image](https://user-images.githubusercontent.com/898436/137702048-ac2f

[2021-10-18 09:36] smartens commented on #258
Solved. The solution was to make a public event in a public space.

[2021-10-18 09:36] #258 closed

[2021-11-05 13:10] timaschew opened #261 "What does the `event type`?"
First of all thank you for developing this great module!

I wonder for what the event type can be used. I can set it to events but it's not shown anywhere afterwards, except when I edit the event again.

[2021-12-03 09:26] timaschew commented on #240
Thanks for the hint. Actually on my device I need just to press and hold on a day (no swipe is needed).

BTW: It doesn't work at all in a desktop browser with mobile/touch emulation!

[2021-12-17 08:11] aaukt commented on #251
@luke- i got the same error for a few days now: Could not execute queued job! Message: unserialize(): Error at offset 3702 of 3885 bytes

I dumped the offending message:

[code]

Since there seems to be nothing suspicious at the offending offset, maybe it's related to some multibyte-character-magic? (Note there are umlauts in description of the event)

[2021-12-30 22:18] michaelh99 commented on #223
+1 for this feature, or at least a way to disable profile calendars

[2021-12-31 23:52] michaelh99 commented on #223
@luke- I know it's been nearly a year but it looks like the calendar devs have removed that setting since your post

[2022-01-10 18:03] luke- commented on #76
Should be possible to add images in the descriptions.

[2022-01-10 18:03] #76 closed

[2022-01-10 18:04] #110 closed

[2022-01-10 18:05] luke- commented on #172
Duplicate: https://github.com/humhub/calendar/issues/6

[2022-01-10 18:05] #172 closed

[2022-01-10 18:16] luke- opened #262 "Manage Participants"
It would be good to have a view where participants of an event can be managed by the organizer. This could be done e.g. in a new tab.

This is especially good for the option "Everyone can participate" is selected. Then to remove participants who did not show up.

Later there should also be an option where the organizer can explicitly invite participants. For this the view is also useful.

[2022-01-10 18:22] luke- opened #263 "Invite Users / Manage Users"
![image](https://user-images.githubusercontent.com/4736168/148818406-444de342-44e4-4013-9ae3-0ed9ec3dfeba.png)

Related to: https://github.com/humhub/calendar/issues/1

[2022-01-18 15:01] yurabakhtin commented on #263
@luke- I have started this in PR https://github.com/humhub/calendar/pull/264

[2022-01-19 10:10] yurabakhtin commented on #263
@luke- I have done this please review:

<img width="911" alt="invite" src="https://user-images.githubusercontent.com/6995524/150109575-216a0fd0-e8ab-4196-a9af-4a2fc1a30d4a.png">

[2022-01-19 18:08] luke- commented on #263
@yurabakhtin Thanks! It would be good if the invited people can decide themselves which option (yes, no, maybe) they mark. A new notification "You have been invited" makes sense here.

There should also be a possibility that the event creator can manually manage the participants. Remove people, change status, add (without invitation).

[2022-01-25 12:11] yurabakhtin commented on #263
@luke-

Commit https://github.com/humhub/calendar/pull/264/commits/2513221998c2d311914246439c6f9b30efdd50c2.

[2022-01-26 08:48] yurabakhtin commented on #263
@luke-

Commit https://github.com/humhub/calendar/pull/264/commits/cb7c7fdc820ca16258559dcf297bd1f2c9dc6f9d

![participants-list](https://user-images.githubusercontent.com/6995524/151131527-607e5f43-5d21-47c0-a1b8-d103f6e47c42.png)

I will do this later.

[2022-01-26 08:50] yurabakhtin commented on #262
@luke- I have done this task here https://github.com/humhub/calendar/issues/263#issuecomment-1021986289.

[2022-01-27 11:53] yurabakhtin commented on #263
@luke-

Commits https://github.com/humhub/calendar/pull/264/commits/43e344b82105ceb0d5b033ca6bc9aebd492e709f, https://github.com/humhub/calendar/pull/264/commits/65b2dcd31c284820ece9e2ac5b738a21ec666eec:

![add-users](https://user-images.githubusercontent.com/6995524/151353782-ec2d0bfe-d847-4326-85bb-d14e11a182ec.png)

[2022-01-27 16:22] #1 closed, assigned to yurabakhtin

[2022-01-27 16:43] #262 closed

[2022-01-28 09:07] yurabakhtin commented on #263
@luke- Commit https://github.com/humhub/calendar/pull/264/commits/e0a4a1186a1db030af8d56d5270b44f0bea8d735:

I have moved the participants list from tad to new modal window:

![new_participants_list](https://user-images.githubusercontent.com/6995524/151518365-090a2cfc-3f49-40d9-b5e2-211fd6ec9646.png)

View is user has no permission to edit the calendar entry:

![new_participants_list-no-edit-perms

[2022-01-28 10:23] luke- commented on #263
@yurabakhtin Yeah, looks nice! Maybe the invite can also placed on the top of the modal.
For "read only", the filter can be also used or is it disabled?

[2022-01-28 17:06] yurabakhtin commented on #263
@luke-

It is enabled, i.e. it works same way as for editor, I just did the screenshot from another browser(FF win) and it displays the `<select>` like disabled style, but it is enabled really.

[2022-01-31 11:36] luke- commented on #263
@yurabakhtin It would be good if the "Participants" would open right after the Create modal. If the users are only set to Invite.
Also, the Invite button is missing here. after a reload it is there.
![image](https://user-images.githubusercontent.com/4736168/151787212-36f92ed2-c604-454f-81b6-243c0a547f4f.png)

[2022-01-31 16:30] yurabakhtin commented on #263
@luke- Commit https://github.com/humhub/calendar/pull/264/commits/badd2d69e93ac33ee44fced0f37218cdace49ff5:

I added the button "Invite" on the "Participants" modal window:

<img width="606" alt="invite_button" src="https://user-images.githubusercontent.com/6995524/151832774-76557cd0-582f-4269-a1ed-d6c7da0e9e8d.png">

Also on click the old button the form to invite users is automatically loaded:

[2022-02-01 15:31] luke- commented on #263
@orangiene Can you please take a look into this as discussed?

[2022-02-02 15:17] luke- opened #265 "Past Events - Participation Status"
When the event is over, the participant status may no longer be changed by the participants.

The creator can still do this via the new participants view.

[2022-02-02 18:12] orangiene commented on #263
@luke-
Here are the updated screens as discussed:
https://www.figma.com/file/tshvUVBzxy7uW8eZs6n6IG?node-id=0:1#147324343

Please specify in the last screen from which number of users the pagination is displayed. I would suggest from a number of 8-10 users.

[2022-02-02 21:28] luke- commented on #263
@yurabakhtin Can you please adapt the modals as suggested by @orangiene

[2022-02-03 05:59] yurabakhtin commented on #263
@orangiene @luke- On the figma url I find 2 parts related to the calendar module: "Calendar IST" and "Calendar Roadmap".
What part should be implemented, both?
I guess only the "Calendar Roadmap" because it looks like new version.
Should I skip the part "Calendar IST" completely? or something should be implemented from the part?

@orangiene

Sorry, not clear this, could you please draw what and wh

[2022-02-03 06:43] yurabakhtin commented on #263
@luke- I have some questions:

**Calendar Roadmap**:

1) **Step 02** -> **Step 03**: It will be easier to save Event in DB right after click on the button "Next". I.e. on loading the modal "Event Participants" it would be better to load the data by Event ID. So the button "Create event" should be named as "Update event", and the button "Next" should be named as "Create event".
Do you agree this? O

[2022-02-03 06:56] yurabakhtin commented on #263
@luke- Should I continue new changes in the same PR https://github.com/humhub/calendar/pull/264?

[2022-02-03 07:03] orangiene commented on #263
@yurabakhtin
You can skip "Calendar IST" completely. sorry for confusing.

@luke- please specify from which number of users the pagination is displayed. I would suggest 8 or 10. What do you think?

[2022-02-03 08:17] yurabakhtin commented on #265
@luke-
<img width="745" alt="past_event" src="https://user-images.githubusercontent.com/6995524/152305388-2d9449fe-f34d-4be3-9198-8baef3b32165.png">

[2022-02-03 08:24] yurabakhtin commented on #263
@orangiene @luke-

From this text:

I got you want to increase the page size to 8 or 10 users, right?
Currently we have 8 users per page, I use the core user module setting `humhub\modules\user\Module->userListPaginationSize = 8` - https://github.com/humhub/humhub/blob/master/protected/humhub/modules/user/Module.php#L55.

[2022-02-03 09:30] luke- commented on #263
@yurabakhtin
- Pagination: Let's use the default pagination size: 8
- PR: Yes please use the same PR
- Participants Tab: We should also display it when "Everyone can participante"
- DB Save: Leave the button label "Next" but already save it to the DB (Should be the simplest solutions or?)
- One Invite/Add Form: Yes send only an invite nofication, when invite is selected. - I hope it's not big prob

[2022-02-03 09:34] luke- commented on #263
@yurabakhtin
- The checkbox "Invite all" should replace this existing checkbox. It should work similar, but instead of adding the users, only an invite should be send. Please use an `ActiveJob` for this and use a status message e.g. `All Space users are now being invited. This process may take a few minutes.`
![image](https://user-images.githubusercontent.com/4736168/152316532-64b96b22-591b-4bec-8

[2022-02-03 09:52] #265 closed

[2022-02-03 10:22] yurabakhtin commented on #263
@luke- Thank you for the answers:

Ok, then participants list and all related buttons and actions should be hidden/denied when option "No participants" is selected

<img width="682" alt="buttons_no_participants" src="https://user-images.githubusercontent.com/6995524/152323649-3220a259-783e-4b53-9aed-a1d4f088cbc1.png">

Yes, if the entry will be saved in DB right after click on the button "Next" th

[2022-02-03 10:33] luke- commented on #263
@yurabakhtin

- Yes, when "No Participants" is selected the Stream Entry Action Buttons should be also hiddne
- The exact wording of the buttons and options we then go again after the development and adjust this if necessary.

Thanks!

[2022-02-03 14:45] yurabakhtin commented on #263
@luke- I have started new changes in the commit https://github.com/humhub/calendar/pull/264/commits/e6654f9f5c9511da51c73f0fdee1a36328db113d.

[2022-02-04 07:28] orangiene commented on #263
@yurabakhtin @luke-
the modal should have a width of 800px on desktop, please.

[2022-02-08 09:15] yurabakhtin commented on #263
@luke- @orangiene Commit https://github.com/humhub/calendar/pull/264/commits/b0ceeae8dc4c6e2736435a79abada3524d45007d - all new changes have been done, please check.

[2022-02-09 12:21] orangiene commented on #263
@yurabakhtin
Thank you for the implementation. While clicking through, we noticed a few small things, also in the concept.

I'll mark you again in figma at the corresponding place.
I have written the user story under the screens. You can find the adjustments both in the screens themselves and in blue below them.

In summary, please make the following adjustments:

**Step 01:**
- There is no Cancel

[2022-02-10 12:43] yurabakhtin commented on #263
@luke- @orangiene New changes in the commit https://github.com/humhub/calendar/pull/264/commits/40a1101414b29674213ce3455904a1f36b7a6691.

[2022-02-15 18:04] luke- commented on #263
@yurabakhtin Great work. Here some points.

1.) Would be great when title has directly focus, after open modal
![image](https://user-images.githubusercontent.com/4736168/154121249-608320cb-4884-4d7a-b512-9274b85b0032.png)

2.) Set new Participants als Invited by default
![image](https://user-images.githubusercontent.com/4736168/154121997-27916af3-94c3-4fd5-8f57-abaa0950fe6a.png)

3.)
![image](http

[2022-02-15 18:10] luke- commented on #263
5.) Migrate old legeacy file tab.
![image](https://user-images.githubusercontent.com/4736168/154122413-b10ded39-f3f6-4c45-9158-682dcf3b96c9.png)
Files should be now inserted via the RichText Field

6.) Cleanup Edit (Default Hide these tabs)
![image](https://user-images.githubusercontent.com/4736168/154122648-06366085-6f5e-4f75-b472-96112dea99ef.png)

7.) Visibility Chooser
![image](https://user-im

[2022-02-16 14:04] yurabakhtin commented on #263
@luke- Commit https://github.com/humhub/calendar/pull/264/commits/f4a427d011fd23fc8083e8a7501f37f55a03f64e:

I tested this to open the form and from global calendar page and from space/user calendar page - in all cases the title field is focused. Please give me more details how/when you can see the title is not focused, thanks.

Done.

Done.

[2022-02-16 16:49] luke- commented on #263
1.) I can't currently recreate it myself. I will report if it occurs again.

[2022-02-17 05:58] yurabakhtin commented on #263
@luke-

Commit https://github.com/humhub/calendar/pull/264/commits/40451b86183aa8a97419b10e6fb1b3f652dc5454.
I am not sure what you mean here by "Private", so please review I have got you correctly:

<img width="913" alt="only_invite" src="https://user-images.githubusercontent.com/6995524/154414518-e942edc9-13dd-4b5d-997a-c2555d9245a0.png">

[2022-02-17 07:48] yurabakhtin commented on #263
@luke-

Files should be now inserted via the RichText Field

Commit https://github.com/humhub/calendar/pull/264/commits/8f30482919989252637e95820aab581a1cacd67c.

Please note after deleting the tab "Files", the already attached files could not be deleted from the calendar entry:

<img width="953" alt="attached_files" src="https://user-images.githubusercontent.com/6995524/154428950-58abfe73-f1bc-46

[2022-02-17 09:50] luke- commented on #263
@yurabakhtin Yes, simply append them to the Description Field as Link List. https://www.alpenbahnen-spitzingsee.de/webcams/

[2022-02-17 13:54] yurabakhtin commented on #263
@luke-

Commit https://github.com/humhub/calendar/pull/264/commits/8a5f86614b9317820f8f72ba9ba25d28c1e55cc1

Please note the tab and option "Reminder" are visible only for future events:

<img width="911" alt="new_options" src="https://user-images.githubusercontent.com/6995524/154495810-947e9b54-6191-4508-bfb8-76c95bea800f.png">

[2022-02-17 16:24] yurabakhtin commented on #263
@luke-

Commit https://github.com/humhub/calendar/pull/264/commits/35c6b310749d2f12ff794a22ea20ae257aae741e.

[2022-02-17 21:49] michaelh99 opened #268 "Editing an entry but not saving the changes creates an event in the stream"
I've seen this happen several times where I go to edit a recurring event, change my mind and cancel the edits only to find that there's an update at the top of the stream for the calendar entry that I didn't change

[2022-02-19 08:24] luke- opened #269 "Add Close Button to Calendar Entry Modal"
@orangiene How should the buttons be positioned?

![image](https://user-images.githubusercontent.com/4736168/154793098-b3398e03-f4bf-484b-9208-291d0ef0701f.png)

[2022-02-19 08:40] luke- commented on #263
@yurabakhtin Work well, thank you!

@orangiene If the event is "Invite Only", a user will not see that. Does it make sense to display a badge "Invite Only" or the disabled buttons ?

![image](https://user-images.githubusercontent.com/4736168/154793356-206de8fd-9986-4b5e-8199-3604d034e3a4.png)

When a user clicks on the invite notification, he gets the following view. Actually, we wanted to omit th

[2022-02-19 09:04] luke- opened #270 "Combine Translation Message Files"
Instead of have one message file per file/view, use just a view per group.

[2022-02-20 22:57] luke- commented on #263
@yurabakhtin Can you please also add some tests. Especially for special cases like opening participants after create, notifcations- would be great if we have test coverage for that...

[2022-02-21 15:27] yurabakhtin commented on #263
@luke- I have fixed only unit tests here https://github.com/humhub/calendar/pull/264/commits/1238ad4ad37c2040671943d0cf9dc9722614f9d8, also acceptance tests should be fixed, however checks for tests are not running on github side https://github.com/humhub/calendar/runs/5275858172.

[2022-02-21 17:01] luke- commented on #263
@yurabakhtin Can you please look into this:
![image](https://user-images.githubusercontent.com/4736168/154999030-3faaccab-bdf3-4e86-b08a-5e9216a85643.png)

[2022-02-22 08:20] yurabakhtin commented on #263
@luke- Commit https://github.com/humhub/calendar/pull/264/commits/375f85b60b3fe9c5dbb3b0098e7401ea17ce4b53
I used core url where not members are displayed but they are not active, if you prefer to don't display the not member completely please let me know and I will implement a separate action in the calendar module:

<img width="909" alt="private_vs_public_event_users" src="https://user-images.gi

[2022-02-22 08:25] classan-eu commented on #233
We have a similar or the same issue with our packed full "Home" (main space) calendar.
Everybody is a member of that space.

![image](https://user-images.githubusercontent.com/54946123/155089797-8ec3a930-53ae-4b82-90fa-a8771a82ecad.png)

The snippet in that space is empty (if set to 7 days), it only displays some long ago annually repeating event(s) if the duration is set to a month or a full year

[2022-02-22 12:38] orangiene commented on #263
We can use an "Invite only" as a tag.
But I wouldn't include an additional text with an icon and a hint that the user should select his role.
That is too much text and will not be read.

If we want to get the user to interact (click on the button), then let's make the button bigger and more prominent.

I am currently working on the new UI board and also on the buttons.
For activities like "yes, no

[2022-02-22 12:53] orangiene commented on #263
@yurabakhtin

Could you please reduce the distance between the four select options (All Day, Recurring...)? then we only need one line and not two lines for desktop. Space: 24px

Thank you

[2022-02-22 13:10] yurabakhtin commented on #263
@luke-

I have fixed all already existing acceptance tests in the commit https://github.com/humhub/calendar/commit/375f85b60b3fe9c5dbb3b0098e7401ea17ce4b53. After my fixes the tests work with new modal "Event Participants", so I don't see a reason create some new test else.

[2022-02-22 13:48] yurabakhtin commented on #263
@orangiene

We use there bootstrap column styles. Please note for space we display long title for Public:

<img width="909" alt="wide-screen" src="https://user-images.githubusercontent.com/6995524/155144170-2600ae18-4ca7-4857-84fb-b1535328a044.png">

for narrow screen it looks better:

<img width="523" alt="narrow-screen" src="https://user-images.githubusercontent.com/6995524/155144531-c54d5ef1-d6

[2022-02-22 14:33] Oremountainflorian commented on #233
Referring to the well written post of @classan-eu: For us applies exactly the same behaviour as described above.

For a while just one old recurring event had been displayed in the snippet. This event was created shortly after we installed in the our the humhub instance end of 2019. Now this event expired and the snippet doesn't show off anymore (no upcoming events), even if the calendar is filled

[2022-02-22 15:50] orangiene commented on #263
@yurabakhtin okay, I see... then leave it as it is. Thanks

[2022-02-22 15:56] Benable commented on #233
We ended up adding an e-NABLE Custom Module as a workaround. It is not ideal, since we manually update the 'noticeboard' each week. It does look like @Oremountainflorian & @classan-eu and I are all having the same issue. I would appreciate a better solution, but this is what we've found until we can identify something better. @yurabakhtin

![screenshot-hub e-nable org-2022 02 22-10_48_03](https://

[2022-02-22 16:13] orangiene commented on #269
![Calendar-Close-Button](https://user-images.githubusercontent.com/62644500/155172717-285b7517-d6c6-477a-abad-10809a29d29e.jpg)

Fine for you? @luke-

[2022-02-22 17:24] Semir1212 commented on #263
A few changes to the wording @yurabakhtin

**Overview**

![image](https://user-images.githubusercontent.com/38326726/154990923-c4e79ab7-1e65-4926-b3f1-b89f0514eac7.png)

today --> Today
month --> Month
week --> Week
day --> Day
list --> List

**Create Event**

![image](https://user-images.githubusercontent.com/38326726/154991318-5bbce4fa-3c6d-4794-a785-2cfa4b8d7853.png)

From top to bottom:

Creat

[2022-02-23 08:30] luke- commented on #263
@yurabakhtin Can you please update the wording as Semir suggested.

[2022-02-23 08:41] yurabakhtin commented on #263
@luke- I am working on this, but I have questions:

Currently the state of this checkbox is initialised depending on date/time. For example, if we switch to "week" or "day" calendar view and click to create a new event then the checkbox "All day" is unchecked because start and end times are provided. Also if we will click there("week" or "day" views) on the first row with name "all-day" then "All

[2022-02-23 09:57] yurabakhtin commented on #263
@luke- Commit https://github.com/humhub/calendar/pull/264/commits/b76df96b064c3f6f3156246eb81b18bdaca49356 for new updates in wording except of 2 points above.

[2022-02-23 10:11] orangiene commented on #263
Hi @yurabakhtin ,

can you please update the buttons an batch like in the screens:
https://www.figma.com/file/tshvUVBzxy7uW8eZs6n6IG?node-id=0:1#156447864

Default:
![calendar-stream-01b](https://user-images.githubusercontent.com/62644500/155298996-b2a05586-4e1e-444a-9192-2cc6f039c189.jpg)

Selected:
![calendar-stream-01a](https://user-images.githubusercontent.com/62644500/155298991-dd3d31f9-9173-

[2022-02-23 10:30] luke- commented on #233
**Steps to reproduce:**

1. Enable Calendar Module Snippet in Global Calendar Module Configuration. Set Interval to `1 Month`, Displayed Items to `3`.
2. Create a new Space with Calendar module
3. Create 3 regular (not recurring) events in the next 7 days e.g.
![image](https://user-images.githubusercontent.com/4736168/155301545-6e20f5c2-63b7-48ed-8f19-1c0f80519186.png)
4. The Events are showing up

[2022-02-23 13:16] yurabakhtin commented on #233
@luke- Thank you for the reproducing steps!
Fixed in PR https://github.com/humhub/calendar/pull/271.
My tests:

<img width="960" alt="test_fixed_events" src="https://user-images.githubusercontent.com/6995524/155326398-d1129c32-1f79-46e7-9639-f38593437bc6.png">

[2022-02-23 13:35] luke- commented on #263
@yurabakhtin
- Please let the visibility as it is
- All Day: If the user clicks on the "all day" section, ideally "all day" is still checked. For all other cases (e.g. click on day on Month view) show the next full hour and end time +1h. if start time is gt 23:00  show 10:00 -> 11:00 as fall back.

[2022-02-23 13:50] yurabakhtin commented on #263
@orangiene Commits https://github.com/humhub/calendar/pull/264/commits/35d520026c7f3d50779b38363afa3e67e52a4049, https://github.com/humhub/calendar/pull/264/commits/9f56fb18d3fc22620c4f3531fbb84b2af4bedf0b:

<img width="953" alt="button_styles" src="https://user-images.githubusercontent.com/6995524/155332281-d0389a5c-212a-4a23-8dc7-0c6dba73d16b.png">

[2022-02-23 15:45] yurabakhtin commented on #263
@orangiene Commit https://github.com/humhub/calendar/pull/264/commits/587a2afefece24c76eb49a8ef3158a2a031b366d:

<img width="954" alt="button_space" src="https://user-images.githubusercontent.com/6995524/155353473-0f71b2b8-49c1-4792-91db-5883a96962b8.png">

---

@luke-

Ok, I will do this later. Do I understand you correctly: for example, if now is 10:05AM then on open form we should display start

[2022-02-23 16:49] orangiene commented on #263
looks good, thank you! :-)

[2022-02-23 17:30] #233 closed

[2022-02-23 20:50] Oremountainflorian commented on #233
Works! Thank you @yurabakhtin and all the others who contributed commenting and eventually solving this issue after such a long time! 👍

[2022-02-24 12:05] yurabakhtin commented on #263
@luke-

Commit https://github.com/humhub/calendar/pull/264/commits/b874afa47418056ddade234c19caaab339201d8f, please check if it works as expected:

<img width="1162" alt="not_all_day" src="https://user-images.githubusercontent.com/6995524/155520491-7ba48dd2-58b7-47f4-b1a3-49f8818ed773.png">

[2022-02-24 15:16] luke- commented on #263
@yurabakhtin Yeah, works well. Can you just show instead of when it is currently 16:16 as Start Time 17:00 and End Time 18:00? (Instead of 16:00-17:00)

[2022-02-24 15:47] yurabakhtin commented on #263
@luke-

Do you want to say that on your side you see times 16:00-17:00, when your  current time is 16:16? If yes, then it seems I need to fix the result of the function `date('H')` depending on time zone.

[2022-02-24 16:07] luke- commented on #263
Yes. It's now 16:59 and I see following defaults:
![image](https://user-images.githubusercontent.com/4736168/155560591-cab71638-1283-44a6-abb3-c2da838517d9.png)

Better defaults would be. Start: 17:00    End: 18:00

[2022-02-24 16:24] yurabakhtin commented on #263
@luke- Ok, thanks for details, I will fix this.

[2022-02-28 21:06] dantefromhell opened #272 "Reminders can not be shorter than 1h to meeting"
I love the 30min reminders that Google Calendar defaults to.
1 hour reminders are too "distant" from the start time of the meeting to fit my personal workflow.

Is there a technical reason why shortest reminder setting is 1h?
If not, would a PR to implement 30min/ 15min be acceptable?

[2022-02-28 21:22] dantefromhell opened #273 "Impossible to mark attendance for recurring event stream"
I created a never ending recurring event that represents a weekly meetup within a space.

While I can mark my attendance for individual events, it is not possible to mark my attendance for the whole series.

[2022-02-28 21:23] dantefromhell commented on #241
I see the same issue.

I have a weekly meeting created in the calendar of a Space.
I can only mark attendance for single events, not the whole series (see Issue #273) only.
The "I'm attending" filter in the global calendar view, as well as the space specific calendar does not show the event when the checkbox is ticked.

[2022-03-01 10:43] yurabakhtin commented on #263
@luke- I have retested again this with different timezone values in php server settings and in user settings and really cannot reproduce your issue:

<img width="1194" alt="test_time" src="https://user-images.githubusercontent.com/6995524/156154622-deb3352b-1f71-46ac-85eb-193e2bdd4add.png">

[2022-03-02 13:35] yurabakhtin commented on #257
@michaelh99 I think this bug is related to the https://github.com/humhub/calendar/issues/233 and was fixed, please try update to the latest version 1.1.11.

[2022-03-02 16:36] luke- commented on #272
A PR would be great.

There may have been an earlier limitation that we only had an hourly cronjob.
Now, there is a minutely cron job that could be used for this.

[2022-03-02 17:34] #257 closed

[2022-03-02 18:44] dantefromhell commented on #272
OK.
It seems reminder intervals are defined in https://github.com/humhub/calendar/blob/master/models/reminder/CalendarReminder.php#L101 which already raises the question:

How to properly model minute based reminders without breaking changes when updating existing installations? Should they get value '4' assigned or re-number the currently existing ones + some form of migration scripts?

How are t

[2022-03-02 19:53] luke- commented on #272
Of course, a re-numbering would be nicest, but simply 4 would be fine too.

New translation strings are handled by our translation server.

[2022-03-02 21:08] dantefromhell opened #274 "Manage meeting attendance from "Upcoming events" widget"
The "Upcoming Events" widget is a great way to get a quick overview of events.

Managing events from the widget though is very tedious, because one has to first load the event page to mark attendance.

Would it be possible to have a small drop-down menu on the right end of each event entry, with some basic functions like
- Marking attendance state
- Displaying location

My proposal is focusing on

[2022-03-22 08:04] yurabakhtin commented on #241
@luke- @Bexolo Fixed in PR https://github.com/humhub/calendar/pull/275:

![recur_event_filter_attend](https://user-images.githubusercontent.com/6995524/159434908-4abe47d5-8e2e-45c7-a523-a0b138e3ae93.png)

[2022-03-25 10:37] yurabakhtin commented on #273
@luke- I don't think it is possible with current database structure and code, because for attending status we use the table `calendar_entry_participant` where we have to know `calendar_entry_id`, i.e. each recurrence calendar entry should be created in DB before user can be attended.
A separate calendar entry is created automatically only when user clicks on the date cell:

![test_recur_entry](htt

[2022-03-25 11:08] yurabakhtin commented on #268
@michaelh99 It happens because a recurring event is creating only at the time when we click on it:

![test_recur_entry](https://user-images.githubusercontent.com/6995524/160109564-6cf25618-a531-4a49-bb2e-350594e0eefe.png)

@luke- Do you think we should hide somehow the recurring event from stream on creating it automatically?

[2022-03-25 11:16] yurabakhtin commented on #261
@timaschew Sorry, but I cannot find the field like type for event, please show us a screenshot what you mean, thanks.

[2022-03-25 13:05] michaelh99 commented on #268
What's the logic behind creating a db entry when the event is only opened?

[2022-03-25 18:06] yurabakhtin commented on #268
@michaelh99 We cannot create all recurring/child entries at the time when we create a parent event at least for case when event is never stopped:

![never](https://user-images.githubusercontent.com/6995524/160176537-7e524564-d186-4d2b-be17-87deb861b16c.png)

but for other cases, we don't create recurring events in order to keep DB more clear.

The recurring event is created at the opening time in

[2022-03-25 20:15] luke- commented on #273
@yurabakhtin Ok, let's discuss some improvement possibilities here at a later time to possibly support this.

[2022-03-25 21:15] felixhahnweilheim commented on #261
Probably you mean the event types you can define globally or on space-level:
![Screenshot 2022-03-25 at 22-14-45 Felix Hahn Test-Community](https://user-images.githubusercontent.com/84990763/160201658-27e8edf2-c707-4625-9e42-43c1d8de4cd7.png)

The single event takes the color of the selected category as long as the event does not have an individual color. That's the only effect I can see. Maybe it

[2022-03-27 17:20] alexhorn opened #276 "Transition to daylight saving time is handled incorrectly"
Since daylight saving time started on sunday, our calendar entries are saved wrong. Every time we save a calendar entry, two hours are subtracted from the time that we entered. (I assume it's two hours because we are in UTC+02:00 now.)

Here's what we enter in the form:
![image](https://user-images.githubusercontent.com/13948008/160292845-e9652f09-940f-4e30-b89d-ed28a6953d48.png)

After clicking o

[2022-03-27 17:58] luke- commented on #276
@alexhorn Can you reproduce this on our demo hosting?

[2022-03-27 18:15] alexhorn commented on #276
@luke- Yes.
By default the 'Standard Zeitzone' in the administration panel is set to 'UTC' and everything is working correctly. However, if I change it to 'Europe/Berlin' the bug appears and calendar entry times start to shift every time I save the entry.

[2022-03-28 09:54] alexhorn commented on #276
The problem disappeared both on our instance and on the demo instance. I think it only occurred on the day daylight saving time starts in Germany (March 27).

[2022-03-28 15:59] #263 closed

[2022-03-29 08:19] yurabakhtin commented on #261
@luke- I have checked the code and it seems the event types are used as described in the comment above and on create/edit event we can select a type so color is changed to the event type's color, that's all where the event types are used, or do you know another place?

Do you agree to implement this?

[2022-03-29 08:36] luke- commented on #261
@yurabakhtin Currently a few other things have more prio, but let's mark it as a feature request....

[2022-04-02 21:29] michaelh99 opened #277 "Would like to be able to copy an event"
I have a case where I have a repeating event but it doesn't repeat predictably, so I have to create new events each time.  It would be helpful if I could copy an existing event and in my case just set a new date.

[2022-04-04 19:08] yurabakhtin commented on #276
@luke- Yes, I confirm we have the issue only when system date is 27 March.
I still didn't find a solution, but I found where the error is generated:

https://github.com/humhub/calendar/blob/master/helpers/CalendarUtils.php#L126

[code]

I guess here some issue either in the system php function `strtotime('TODAY')` or in the `$dt->getTimestamp()`, but I already tried to set timezone here `$dt = Dat

[2022-04-05 06:49] yurabakhtin commented on #276
@luke- Fixed in PR https://github.com/humhub/calendar/pull/278.
I tested with current date 27th March, it seems php function for getting a timestamp from the similar dates is not proper, so I decided to use 1st January in the case of seconds extracting.

@alexhorn Thank you for the detailed reporting about the issue!

[2022-04-06 17:06] dantefromhell commented on #241
Any chance to get a release of version 1.12 soon? I have a few users that are bothered by the behaviour and would prefer to update via a proper module release.

[2022-04-11 15:14] yurabakhtin commented on #273
@luke- We can try this:

- Add new buttons like [Attend All] [Maybe All] [Decline All] for recurrence event, locate them above or under the buttons [Attend] [Maybe] [Decline], or we should think how to make the UI better.
- Add new column like `recurrenced` in the DB table `calendar_entry_participant`
- When click on a new button [xxxxxx All] we fill the column with state `1` that will means all r

[2022-04-12 12:17] luke- commented on #269
@orangiene Somehow I don't like the aligned button that much.
How about just displaying the "X" in the upper right corner?

[2022-04-12 18:14] #276 closed

[2022-04-14 11:58] dantefromhell commented on #273
A random thought that came to mind reading @yurabakhtin proposal.

I frequently have situations where I want to be able to decline one (or a more) specific dates of a series. E.g. when marking my calendar for vacation, I decline team meetings I will be unable to participate.

IMO conflicts with the scenario above. Would it be possible to:
- Disable/ grey out 'accept' button if the whole series is

[2022-04-20 07:11] orangiene commented on #269
@luke- yes, it's fine for me. Let's put the "x" close Button on the top right.

[2022-04-21 07:50] funkycram commented on #269
https://github.com/humhub/calendar/pull/284 adds the "x" close Button on the top right.

[2022-04-21 13:31] #269 closed

[2022-04-22 09:08] funkycram opened #285 "Full calendar: in the global settings, add the possibility to change the default view"
The `FullCalendar` widget shows the calendar with the Month view by default.
But sometimes we have only a few events and they are dispatched in several months during the year.
This force users to scroll all months to see events.

It would be nice if we could select the default view in the module's global settings.

It's quite easy as if we add the `'default-view'`param [in the `getData()` array](h

[2022-04-22 09:37] luke- commented on #285
@funkycram Would be great!

[2022-04-25 14:54] HubiHonold opened #287 "Bug when exporting recurring calendar entries"
If the text of a single calendar entry is changed, the new information is not transferred when exporting the calendar (recurring appointments). The original information or text is still visible when exporting.

The problem only affects exported appointments, in the HumHub calendar the entry is displayed correctly and with new text.

![export without new information](https://user-images.githubuserc

[2022-04-26 16:02] yurabakhtin commented on #287
The link text "Donwload ICS" has a typo, it will be fixed together with new link later.

[2022-04-26 20:35] aaukt commented on #287
@yurabakhtin
The way this is handled in ICS is with a new VEVENT component for this recurrence of the event (see also https://www.rfc-editor.org/rfc/rfc5545#section-3.8.4.4) that includes the changes.
From the looks of https://github.com/humhub/calendar/blob/master/interfaces/VCalendar.php#L158 like it seems it could already work if you would call VCalendar::withEvents([$rootEvent, $specialRecurre

[2022-04-27 10:22] yurabakhtin commented on #287
@aaukt Thanks for the info!

@luke- I tried the suggested solution in PR https://github.com/humhub/calendar/pull/290, please see how it works:

![test_recur_cal](https://user-images.githubusercontent.com/6995524/165496653-cce254c0-7296-48f8-9cf6-693c01042e2f.png)

File:

[code]

I.e. the data is exported as expected but microsoft calendar doesn't import the second event properly.
Also I think for

[2022-04-27 11:49] aaukt commented on #287
@yurabakhtin i know dealing with this stuff is a huge PITA, but it's almost correct.

I could get your example to work with just slight modifications.
The UID of the modified event hast to be the same as the event that is modified:

Since you have changed the UID manually, you can simply drop that part of the code and this will be fixed.

The second thing is the RECURRENCE-ID, it has to properly m

[2022-04-27 19:55] dantefromhell opened #291 "Default event length is 25h"
When creating a new event, the default length is 25h because
- end date is +1 from start date
- end time is +1h from start time
See attached screenshot

## Steps to reproduce
1) Create new Space
2) Enable Calendar module in Space
3) Navigate to Calendar
4) Click any date box to add an event

![image](https://user-images.githubusercontent.com/90508808/165620337-d9fbc187-1022-4ce6-b92a-a7680f953125.

[2022-04-28 03:56] yurabakhtin commented on #291
@dantefromhell @luke- What is default length expected? 24 hours or 1 hour?

We did the change to 25 hours here https://github.com/humhub/calendar/issues/263#issuecomment-1049791512.

[2022-04-28 07:18] luke- commented on #291
1hour should be the default

[2022-04-28 08:50] yurabakhtin commented on #291
@luke- Fixed in PR https://github.com/humhub/calendar/pull/292.

[2022-04-28 09:25] aaukt commented on #287
I see for that to work the implementation in https://github.com/humhub/calendar/blame/master/interfaces/VCalendar.php#L124 has to be changed.
Per the RFC https://www.kanzaki.com/docs/ical/uid.html it is perfectly fine for a recurrence set to have the same uid in multiple VEVENTs.

For recurrent events the uid in https://github.com/humhub/calendar/blame/master/interfaces/VCalendar.php#L122 could be

[2022-04-28 11:23] dantefromhell commented on #291
A global or per calendar configuration option would IMO be sweetest ;-)

But for the scope of this issue, I agree with @luke- . From my users feedback their default expectation is 1h default length

[2022-04-28 11:26] dantefromhell commented on #272
@luke- Please have a look at PR #286 when you find the time.

[2022-04-29 04:04] yurabakhtin commented on #287
@aaukt

Could you post here a sample file `*.ics` fully, so I will test how it is imported into a calendar tool, and if it will works as required, then I will try to modify a code to make an exported file correctly for recurrence events?
Thank you.

[2022-04-29 11:46] aaukt commented on #287
@yurabakhtin i used your example, the only modifications are in the UID and RECURRENCE-ID of the "Recurring test - Second - Green"

[code]

Also my comment

might not entirely be correct, as the $dtStart could be changed for this instance of the event. But then also the current implemenation of RecurrenceHelper::getRecurrentId() would not be able to return a correct id, as it also uses the startDa

[2022-04-29 12:38] yurabakhtin commented on #287
@aaukt Thank you for the sample! Yes, it seems it is imported as expected on first looks, I will review how it may be exported from HumHub side later.

[2022-05-02 05:58] yurabakhtin commented on #287
@luke- Fixed in PR https://github.com/humhub/calendar/pull/290:

![test_recur_cal_items](https://user-images.githubusercontent.com/6995524/166190405-dd4edb56-7cac-4e79-9b43-c0e5787e1b77.png)

@aaukt Thank you for the help!

[2022-05-03 06:35] Cpt-KeksMonster opened #293 "Translation: Single elements in English when Humhub is running in German"
Hello,

I noticed that some elements still have English labels when Humhub is running in German.

Example 1: https://abload.de/img/bild_004_03052022-083r1j22.jpg
Today Month Week Day List instead of Heute Monat Woche Tag Liste

Example 2: https://abload.de/img/bild_003_03052022-0835bk5i.jpg
Submit on the button in module settings, Wdget tab instead of Speichern/Absenden

Can I correct this myself?

[2022-05-03 15:08] luke- commented on #293
Can you please test the latest version 1.2.1?

[2022-05-03 15:11] #291 closed

[2022-05-03 15:45] #287 closed

[2022-05-03 16:06] funkycram opened #294 ""Invite all Space members" adds the users as Attending instead of Invited"
Module version: 1.2.1

To reproduce:
- Create a new event
- In the Participants tab: tick "Invite all Space members" and save

The spaces members are all Attending instead of Invited.
The problem is here: https://github.com/humhub/calendar/blob/master/models/forms/CalendarEntryParticipationForm.php#L133

[2022-05-04 07:52] aaukt commented on #293
While we are at it:

The "Add participants" view references a non existing translation string from the AdminModule https://github.com/humhub/calendar/blob/ac7d8912d2f1c64966d33e9c9ed0631f3209f825/widgets/views/participantAddForm.php#L26

[2022-05-04 13:46] #294 closed

[2022-05-04 13:47] #293 closed

[2022-05-04 14:09] funkycram commented on #294
Thanks @yurabakhtin !

[2022-05-05 16:15] funkycram commented on #285
@luke- https://github.com/humhub/calendar/pull/297

[2022-05-09 16:57] Kikketer commented on #223
+1 as well for this feature, I'd like to be able to disable the profile calendars completely as people are getting confused why the event they created is not showing up for everyone.

[2022-05-09 17:19] dantefromhell commented on #223
+1 For not selecting a default calendar at all.

[2022-05-09 17:35] dantefromhell opened #299 "Release 1.2.2 not showing on Marketplace"
I discovered this by being puzzled that my instance did not allow me to update from 1.2.1 -> 1.2.2
Troubleshooting as far as I could find public hints.

## Problem
Version 1.2.2 was released on 2022-05-06 (3 days ago) and according to the build job [1] the version was successfully uploaded to the Marketplace.

According to the Marketplace at 2022-05-09 17:35 UTC, [2] version **1.2.1** is the most

[2022-05-09 19:41] Kikketer commented on #223
I'm not sure how easy that would be for the module developers (I've only started looking at the code today so I do not know it all).  It seems they are using a component provided by HumHub libs `Html::dropDownList('`
https://github.com/humhub/calendar/blob/master/views/global/selectContainerModal.php#L22

Just going a little bit into that one, it's not entirely obvious if there's something you cou

[2022-05-09 20:24] Kikketer commented on #223
@luke- Maybe I'm looking in the wrong spot but it doesn't look like that was available.  Github history for a single file is tricky to work through, but I didn't see anything obvious (I was thinking "well maybe I can recreate the old feature")

https://github.com/humhub/calendar/commits/master/views/common/defaultConfig.php

[2022-05-11 11:55] dantefromhell commented on #299
@luke- Pinging you directly. I hope this is OK.
I just checked the Marketplace and the issue is still showing up.

[2022-05-11 22:18] luke- commented on #299
Was not fully released. Sorry

[2022-05-11 22:18] #299 closed

[2022-05-16 11:27] dantefromhell opened #300 "Default reminders not enabled in new event entry"
## Problem

Default reminders do not automatically get applied to new Calendar events.

## Expected behaviour

After configuring default reminders in the calendar settings the box "Enable Reminders" in the "Create event" dialog is checked and the calendar wide default reminder is set.

## Current behaviour

The checkbox is "Enable Reminders" is not ticked.
When ticking the checkbox the configured

[2022-05-16 12:15] dantefromhell opened #301 "New event dialog creates events after leaving the General tab"
## Problem

Cancelling the creation of a new event from the `Settings` or `Participants` tab will create a new event in the Calendar.

## Expected behaviour

When cancelling the creation of a new event from any of the dialogs tabs no event is created in the Calendar.

## Steps to reproduce
1) Click on a cell in the Calendar month view to trigger the `Create Event` dialog
2) Give event a title & ti

[2022-05-16 12:31] dantefromhell opened #302 "Unable to enable reminders for recurring events"
## Problem

Configuring recurrence and reminders during event creation does not save the reminders.

## Expected behaviour

`Recurrence` and `Reminder` tabs are shown with the values set during event creation.

## Steps to reproduce
1) Create a weekly + never-ending recurring events with reminders enabled.
2) Save & close event creation dialog
3) Choose any of the editing dialogs (this/ this + fol

[2022-05-16 12:42] dantefromhell opened #303 "Unable to configure Reminders for recurring event series with past dates"
## Problem

When using the `Edit this and following events ` or `Edit all events` dialog on a recurring event that has past events the `Enable Reminders` checkbox does not show up.

## Expected behaviour

The `Enable Reminder` checkbox and tab are visible, Reminders can be configured accordingly but will only created for events in the future.

## Steps to reproduce
1) Create a weekly recurring eve

[2022-05-16 12:44] dantefromhell commented on #303
I guesstimate the current logic is that editing reminders for any date range that includes past events is disabled.

IMO the correct logic is to allow editing of Reminders whenever the date range includes future events but Reminders will not be created/ sent for events that have already happened.

[2022-05-16 12:51] dantefromhell opened #304 "Adding Reminders to an existing event does not apply default reminders"
## Problem

When adding Reminders to an existing (single or recurring) event does not apply the default reminders configured for the Calendar.

## Expected behaviour

After ticking the checkbox `Enable Reminder` on the `General` tab, the `Reminder` tab should list the default Reminders configured for the calendar

## Steps to reproduce
1) Create an event without Reminders
2) Edit the event, check

[2022-05-16 13:22] dantefromhell opened #305 "Improve tabbing in create/ edit event dialog"
The create/ edit event dialog uses tabs to split details about an event but the dialog flow is highly confusing to me.

Without digging into technical limitations, the following visual design would IMO be more intuitive to navigate:

1) The tabs `General` `Settings` and `Participants` are shown from the start, the `Back` / `Next` button retain their current functionality. This applies both to the

[2022-05-16 13:39] dantefromhell commented on #272
Implemented in #286 and #298, closing this issue.

[2022-05-16 13:39] #272 closed

[2022-05-16 14:21] dantefromhell opened #306 "First event of recurring series disappears on every uneven edit"
## Problem

The first event of a recurring series disappears every 2 edits, starting with the first edit, than it re-appears after the 2nd edit and disappears on the 3rd edit.

It does not seem to be a UI display problem, as reloading the calendar view does not re-display the missing event. Only editing the event does.

## Steps to reproduce
1) From the month Calendar view create a new event, fill

[2022-05-16 15:33] luke- commented on #301
Yes, we are so aware of the behavior. We have decided to leave it that way for the time being in order to avoid introducing unnecessary complexity into the save process.

Maybe we can improve the behavior here in the future.

[2022-05-17 12:16] dantefromhell commented on #303
Not sure if this is related, but I realized that creating a new event from the month view for today also does not display the `Enable Reminder` checkbox.

I guesstimate that this is related to the Calendar prefilling the starting time with 13:00 local time and me creating the event after 13:00 local time.

When I change the event time, the `Enable Reminder` checkbox however does not come back. I h

[2022-05-18 11:58] yurabakhtin commented on #300
@luke- If I understand this correctly from the 3rd point "Find the checkbox "Enable Reminders" unset" - the expectation is to see the checkbox is set by default, i.e. the tab "Reminder" is expected to be visible by default on create new event.

But here https://github.com/humhub/calendar/issues/263#issuecomment-1040611359 you wrote "6.) Cleanup Edit (Default Hide these tabs)", so the tab was chang